{%load static%}
<!DOCTYPE html>
<html lang="en">
{% load custom_tags %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "styles/student/all.css" %}">
    <link rel="stylesheet" href="{% static "styles/student/style.css" %}">
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <title>{% block title %}{% endblock title %}</title>
    {% block css %}
    {% endblock css %}
    {% block google_tags %}{% endblock google_tags %}
</head>

<body>
    <header class="header">
        <div class="left-header">
            <div class="menu-toggle" id="mobile-menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
            <img id="logo" src="{% static "images/logoblue.png"%}">
        </div>

        <div class="right-header">
            <div class="all-apps-container">
                <div class="right-header-icons">
                    <img class="all-apps-icon icon" src="{% static "images/Apps.png"%}">
                </div>
            </div>

            <div class="notification-container">
                <div class="right-header-icons">
                    <img class="notify-icon icon" src="{% static "images/notification.png"%}">
                </div>
                <div class="dropdown">
                    {% for noti in notification %}
                    <div class="notify_item">

                        <div class="notify_img">
                            <img src={{noti.user.profile.profile_pic.url}} alt="profile_pic" style="width: 50px">
                        </div>

                        <div class="notify_info">
                            <p>{{noti.notification}}<span></span></p>
                            <button class="notify-btn">Explore All</button>
                        </div>
                        <div class="notify_time">
                            <p>{{noti.created_at}}</p>
                            <h1>...</h1>
                        </div>
                    </div>
                    {% endfor %}

                    <div class="notify_See_All">
                        <button class="see-All">See All Notifications</button>
                    </div>
                </div>
            </div>

            <div class="profile-container">
                <div class="right-header-icons">
                    <img class="profile-icon icon" src="images/User.png">
                </div>
                <div class="dropdown-content">
                    <a href="#"><span><i class="fa-solid fa-gauge"></i>Settings</span></a>
                    <a href="#"><span><i class="fa-solid fa-table"></i>Grades</span></a>
                    <a href="#"><span><i class="fa-solid fa-comment"></i>Messages</span></a>
                    <a href="#"><span><i class="fa-solid fa-wrench"></i>History</span></a>
                    <a href="{%url 'logout'%}"><span><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</span></a>
                </div>
            </div>
        </div>
    </header>

    <div class="content-container">
        <nav class="sidebar close">
            <header>
                <i class='bx bx-chevron-right toggle'></i>
            </header>

            <div class="menu-bar">
                <div class="menu">
                    <ul class="menu-links">
                        <li class="nav-link">
                            <a class="active" href="#">
                                <i class='bx bx-home-alt icon'></i>
                                <span class="text nav-text">Dashboard</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="all_courses_page.html">
                                <i class='bx bx-bar-chart-alt-2 icon'></i>
                                <span class="text nav-text">All courses</span>
                            </a>


                        </li>

                        <li class="nav-link">
                            <a href="calender_page.html">
                                <i class='bx bx-bell icon'></i>
                                <span class="text nav-text">Calender</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="notifications_page.html">
                                <i class='bx bx-pie-chart-alt icon'></i>
                                <span class="text nav-text">Notifications</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="yourFiles_page.html">
                                <i class='bx bx-heart icon'></i>
                                <span class="text nav-text">Your Files</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="events_page.html">
                                <i class='bx bx-wallet icon'></i>
                                <span class="text nav-text">Events</span>
                            </a>
                        </li>

                        <li  class="nav-link">

                            <a href="#">
                                <i class='bx bx-mail-send icon'></i>
                                <span class="text nav-text">contact</span>
                            </a>
                        </li>
                </div>

                <div class="bottom-content">
                    <li class="">
                        <a href="#">
                            <i class='bx bx-log-out icon'></i>
                            <span class="text nav-text">Logout</span>
                        </a>

                    </li>
                </div>
            </div>
        </nav>

        {% block body %}
        {% endblock body %}


        {% block script %}
        {% endblock script %}
        <script src="{% static "styles/student/app.js"%}"></script>
    </body>
    </html>