{% extends 'student/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Course Detail{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static "styles/student/course_detail_style.css"%}">
<link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
{% endblock css %}
{% block google_tags %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YTXLDDT540"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YTXLDDT540');
</script>
{% endblock google_tags %}
{% block body %}
<section class="home">
            <div class="img-banner">
                <img src="{% static 'images/logo.png' %}" alt="" srcset="">
            </div>

            <div class="main-content">
                <div class="top-content">
                    <div class="course-content-container part">
                        <button type="button" class="collapsible">Courses Content
                            <span><i class="fa-solid fa-angle-down"></i>
                                <i class="fa-solid fa-angle-up"></i></span>
                        </button>
                        <section class="content">
                            <div class="course-list">
                                {% for unit, completion_percentage, lessons_completed, total_lessons in unit_progress %}
                                <div class="course-card">
                                    <div class="row-1">
                                        <h2><a href="https://" target="_blank" rel="noopener noreferrer">{{ unit.title }}</a></h2>
                                    </div>
                                    <div class="row-2">
                                        <div class="pro-bar">
                                            <div class="completed"></div>
                                        </div>
                                        <div class="details">
                                            <p><span class="prog-count">{{ completion_percentage }}</span>%</p>
                                            <p>{{ lessons_completed }} of {{ total_lessons }} Topics Completed</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </section>
                    </div>
                </div>

                <div class="bottom-content">
                    <div class="leftside-content">
                        <div class="Content-Navigator-container part">
                            <button type="button" class="collapsible">Content Navigator <span><i class="fa-solid fa-angle-down"></i>
                                <i class="fa-solid fa-angle-up"></i></span></button>
                            <div class="content">
                                <p>Last viewed - <a href="#">PDF - Complex Numbers</a></p>

                                <div class="topics-list">
                                    {% for unit, completion_percentage, lessons_completed, total_lessons in unit_progress %}
                                    <div class="topic-card">
                                        <h1>{{ unit.title }}</h1>

                                        <div class="percent">
                                            <svg>
                                              <circle cx="30" cy="30" r="30"></circle>
                                              <circle cx="30" cy="30" r="30"></circle>
                                            </svg>
                                            <div class="num">
                                              <h2>{{ completion_percentage }}<span>%</span></h2>
                                            </div>
                                          </div>
                                    </div>
                                    <hr>
                                    {% endfor %}



                                </div>
                            </div>
                        </div>

                        <div class="Activity-Feed-container part">
                            <button type="button" class="collapsible">Activity Feed<span><i class="fa-solid fa-angle-down"></i>
                                <i class="fa-solid fa-angle-up"></i></span></button>
                            <div class="content">
                                <h1>Latest Posts</h1>
                                <div class="posts-list">
                                    <div class="post-card">
                                        <p>There's nothing here just yet.</p>
                                        <p>This is where you'll find assignments, announcements, lessons and other resourses. Check back soon!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rightside-content">
                        <div class="Announcements-container part">
                            <button type="button" class="collapsible">Announcements<span><i class="fa-solid fa-angle-down"></i>
                                <i class="fa-solid fa-angle-up"></i></span></button>
                            <div class="content">
                                <div class="link">
                                    <div class="row">
                                        <a href="#">Exam Preparation Session</a>
                                        <i class="fa-solid fa-xmark"></i>
                                    </div>
                                    <p>Ramakrishna Ganesh posted on 04 October 2021 12:08 PM</p>
                                    <a href="#">Exam Preparation Session</a>
                                </div>
                                <hr>

                                <div class="link">
                                    <div class="row">
                                        <a href="#">Exam Preparation Session</a>
                                        <i class="fa-solid fa-xmark"></i>
                                    </div>
                                    <p>Ramakrishna Ganesh posted on 04 October 2021 12:08 PM</p>
                                    <a href="#">Exam Preparation Session</a>
                                </div>
                                <hr>

                                <div class="link">
                                    <div class="row">
                                        <a href="#">Exam Preparation Session</a>
                                        <i class="fa-solid fa-xmark"></i>
                                    </div>
                                    <p>Ramakrishna Ganesh posted on 04 October 2021 12:08 PM</p>
                                    <a href="#">Exam Preparation Session</a>
                                </div>
                                <hr>

                                <div class="link">
                                    <div class="row">
                                        <a href="#">Exam Preparation Session</a>
                                        <i class="fa-solid fa-xmark"></i>
                                    </div>
                                    <p>Ramakrishna Ganesh posted on 04 October 2021 12:08 PM</p>
                                    <a href="#">Exam Preparation Session</a>
                                </div>
                                <hr>

                                <div class="link">
                                    <div class="row">
                                        <a href="#">Exam Preparation Session</a>
                                        <i class="fa-solid fa-xmark"></i>
                                    </div>
                                    <p>Ramakrishna Ganesh posted on 04 October 2021 12:08 PM</p>
                                    <a href="#">Exam Preparation Session</a>
                                </div>

                                </div>
                            </div>

                        <div class="calender-container part">
                            <button type="button" class="collapsible">Calender<span><i class="fa-solid fa-angle-down"></i>
                                <i class="fa-solid fa-angle-up"></i></span></button>
                            <div class="content">
                                <div class="btn-events">
                                    <button class="events">Friday, 1 July 2022 <span><i class="fa-solid fa-angle-right"></i></span></button>

                                    <button class="events">Upcoming Events <span><i class="fa-solid fa-angle-right"></i></span></button>
                                </div>
                            </div>
                        </div>

                        <div class="User-Links-container part">
                            <button type="button" class="collapsible">User Links <span><i class="fa-solid fa-angle-down"></i>
                                <i class="fa-solid fa-angle-up"></i></span></button>
                            <div class="content">
                                <div class="link">
                                    <p>No Items Found.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    {% endblock body %}

    {% block script %}
    <script src="{% static 'js/app.js' %}"></script>
    <script src="{% static 'js/all_courses.js' %}"></script>
    {% endblock script %}