<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Detail Page</title>
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/course_detail_style.css">

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <div class="first-header">
            <div class="left-header">
                <div class="menu-toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>

                <img id="logo" src="images/logo.png">
            </div>

            <div class="right-header">
                <div class="all-apps-container">
                    <div class="right-header-icons">
                        <img class="all-apps-icon icon" src="images/Apps.png">
                    </div>
                </div>
    
                <div class="notification-container">
                    <div class="right-header-icons">
                        <img class="notify-icon icon" src="images/notification.png">
                    </div>
                    <div class="dropdown">
                        <div class="notify_item">
                            <div class="notify_img">
                                <img src="images/User.png" alt="profile_pic" style="width: 50px">
                            </div>
                            <div class="notify_info">
                                <p>You have submitted your assignment submission for<span>Assignment-1</span></p>
                                <button class="notify-btn">Explore All</button>
                            </div>
                            <div class="notify_time">
                                <p>2h</p>
                                <h1>...</h1>
                            </div>
                        </div>
                        <div class="notify_item">
                            <div class="notify_img">
                                <img src="images/User.png" alt="profile_pic" style="width: 50px">
                            </div>
                            <div class="notify_info">
                                <p>You have submitted your assignment submission for<span>Assignment-1</span></p>
                                <button class="notify-btn">Explore All</button>
                            </div>
                            <div class="notify_time">
                                <p>2h</p>
                                <h1>...</h1>
                            </div>
                        </div>
                        <div class="notify_See_All">
                            <button class="see-All">See All Notifications</button>
                        </div>
                    </div>
                </div>
    
                <div class="profile-container">
                    <div class="right-header-icons">
                        <img class="profile-icon icon" src="images/User.png">
                    </div>
                    <div class="dropdown-content">
                        <a href="#"><span><i class="fa-solid fa-gauge"></i>Dashboard</span></a>
                        <a href="#"><span><i class="fa-solid fa-table"></i>Grades</span></a>
                        <a href="#"><span><i class="fa-solid fa-comment"></i>Messages</span></a>
                        <a href="#"><span><i class="fa-solid fa-wrench"></i>Preferences</span></a>
                        <a href="#"><span><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="second-header">
            <nav class="nav-bar">
                <ul class="navigation">
                    <li><a href="course_detail.html" class="first active">Course Home</a></li>
                    <li><a href="course_learning_page.html">Content</a></li>
                    <li><a href="test_and_assignments_page.html">Test & Assignments</a></li>
                    <li><a href="communication_page.html">Communication</a></li>
                    <li><a href="course_tools_page.html">Course Tools</a></li>
                    <li><a href="#">E - Library</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="content-container">
        <nav class="sidebar close">
            <header>
                <i class='bx bx-chevron-right toggle'></i>
            </header>

            <div class="menu-bar">
                <div class="menu">



                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="index.html">
                                <i class='bx bx-home-alt icon' ></i>
                                <span class="text nav-text">Dashboard</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="all_courses_page.html">
                                <i class='bx bx-bar-chart-alt-2 icon' ></i>
                                <span class="text nav-text">All courses</span>
                            </a>


                        </li>

                        <li class="nav-link">
                            <a href="calender_page.html">
                                <i class='bx bx-bell icon'></i>
                                <span class="text nav-text">Calender</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="notifications_page.html">
                                <i class='bx bx-pie-chart-alt icon' ></i>
                                <span class="text nav-text">Notifications</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="yourFiles_page.html">
                                <i class='bx bx-heart icon' ></i>
                                <span class="text nav-text">Your Files</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="events_page.html">
                                <i class='bx bx-wallet icon' ></i>
                                <span class="text nav-text">Events</span>
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="bottom-content">
                    <li class="">
                        <a href="#">
                            <i class='bx bx-log-out icon' ></i>
                            <span class="text nav-text">Logout</span>
                        </a>
                    </li>

                    <li class="mode">
                        <div class="sun-moon">
                            <i class='bx bx-moon icon moon'></i>
                            <i class='bx bx-sun icon sun'></i>
                        </div>
                        <span class="mode-text text">Dark mode</span>

                        <div class="toggle-switch">
                            <span class="switch"></span>
                        </div>
                    </li>

                </div>
            </div>
        </nav>

        <section class="home">
            <div class="img-banner">
                <img src="images/logo.png" alt="" srcset="">
            </div>

            <div class="main-content">
                <div class="top-content">
                    <div class="course-content-container part">
                        <button type="button" class="collapsible">Courses Content
                            <span><i class="fa-solid fa-angle-down"></i>
                                <i class="fa-solid fa-angle-up"></i></span>
                        </button>
                        <section class="content">
                            <div class="course-list">
                                <div class="course-card">
                                    <div class="row-1">
                                        <h2><a href="https://" target="_blank" rel="noopener noreferrer">Course Introduction</a></h2>
                                    </div>
                                    <div class="row-2">
                                        <div class="pro-bar">
                                            <div class="completed"></div>
                                        </div>
                                        <div class="details">
                                            <p><span class="prog-count">4</span>%</p>
                                            <p>1 of 28 Topics Completed</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="course-card">
                                    <div class="row-1">
                                        <h2><a href="https://" target="_blank" rel="noopener noreferrer">Unit 01 - Introduction</a></h2>
                                    </div>
                                    <div class="row-2">
                                        <div class="pro-bar">
                                            <div class="completed"></div>
                                        </div>
                                        <div class="details">
                                            <p><span class="prog-count">10</span>%</p>
                                            <p>1 of 28 Topics Completed</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="course-card">
                                    <div class="row-1">
                                        <h2><a href="https://" target="_blank" rel="noopener noreferrer">Unit 02 - Mathemaical Logic</a></h2>
                                    </div>
                                    <div class="row-2">
                                        <div class="pro-bar">
                                            <div class="completed"></div>
                                        </div>
                                        <div class="details">
                                            <p><span class="prog-count">4</span>%</p>
                                            <p>1 of 28 Topics Completed</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="course-card">
                                    <div class="row-1">
                                        <h2><a href="https://" target="_blank" rel="noopener noreferrer">Unit 03 - Modern Algebra</a></h2>
                                    </div>
                                    <div class="row-2">
                                        <div class="pro-bar">
                                            <div class="completed"></div>
                                        </div>
                                        <div class="details">
                                            <p><span class="prog-count">0</span>%</p>
                                            <p>1 of 28 Topics Completed</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

                <div class="bottom-content">
                    <div class="leftside-content">
                        <div class="Content-Navigator-container part">
                            <button type="button" class="collapsible">Content Navigator <span><i class="fa-solid fa-angle-down"></i>
                                <i class="fa-solid fa-angle-up"></i></span></button>
                            <div class="content">
                                <p>Last viewed - <a href="#">PDF - Complex Numbers</a></p>

                                <div class="topics-list">
                                    <div class="topic-card">
                                        <h1>Course Introduction</h1>

                                        <div class="percent">
                                            <svg>
                                              <circle cx="30" cy="30" r="30"></circle>
                                              <circle cx="30" cy="30" r="30"></circle>
                                            </svg>
                                            <div class="num">
                                              <h2>87<span>%</span></h2>
                                            </div>
                                          </div>
                                    </div>
                                    <hr>

                                    <div class="topic-card">
                                        <h1>Unit 01 : Set Theory</h1>

                                        <div class="percent">
                                            <svg>
                                              <circle cx="30" cy="30" r="30"></circle>
                                              <circle cx="30" cy="30" r="30"></circle>
                                            </svg>
                                            <div class="num">
                                              <h2>87<span>%</span></h2>
                                            </div>
                                          </div>
                                    </div>
                                    <hr>

                                    <div class="topic-card">
                                        <h1>Unit 02 : Mathemaical Logic</h1>

                                        <div class="percent">
                                            <svg>
                                              <circle cx="30" cy="30" r="30"></circle>
                                              <circle cx="30" cy="30" r="30"></circle>
                                            </svg>
                                            <div class="num">
                                              <h2>87<span>%</span></h2>
                                            </div>
                                          </div>
                                    </div>
                                    <hr>

                                    <div class="topic-card">
                                        <h1>Unit 03 : Modern Algebra</h1>

                                        <div class="percent">
                                            <svg>
                                              <circle cx="30" cy="30" r="30"></circle>
                                              <circle cx="30" cy="30" r="30"></circle>
                                            </svg>
                                            <div class="num">
                                              <h2>87<span>%</span></h2>
                                            </div>
                                          </div>
                                    </div>
                                    <hr>

                                    <div class="topic-card">
                                        <h1>Unit 04 : Trigonometry</h1>

                                        <div class="percent">
                                            <svg>
                                              <circle cx="30" cy="30" r="30"></circle>
                                              <circle cx="30" cy="30" r="30"></circle>
                                            </svg>
                                            <div class="num">
                                              <h2>87<span>%</span></h2>
                                            </div>
                                          </div>
                                    </div>
                                    <hr>

                                    <div class="topic-card">
                                        <h1>Unit 05 : Limits and Contunity</h1>

                                        <div class="percent">
                                            <svg>
                                              <circle cx="30" cy="30" r="30"></circle>
                                              <circle cx="30" cy="30" r="30"></circle>
                                            </svg>
                                            <div class="num">
                                              <h2>87<span>%</span></h2>
                                            </div>
                                          </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        
                        <div class="Activity-Feed-container part">
                            <button type="button" class="collapsible">Activity Feed<span><i class="fa-solid fa-angle-down"></i>
                                <i class="fa-solid fa-angle-up"></i></span></button>
                            <div class="content">
                                <h1>Latest Posts</h1>
                                <div class="posts-list">
                                    <div class="post-card">
                                        <p>There's nothing here just yet.</p>
                                        <p>This is where you'll find assignments, announcements, lessons and other resourses. Check back soon!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rightside-content">
                        <div class="Announcements-container part">
                            <button type="button" class="collapsible">Announcements<span><i class="fa-solid fa-angle-down"></i>
                                <i class="fa-solid fa-angle-up"></i></span></button>
                            <div class="content">
                                <div class="link">
                                    <div class="row">
                                        <a href="#">Exam Preparation Session</a>
                                        <i class="fa-solid fa-xmark"></i>
                                    </div>
                                    <p>Ramakrishna Ganesh posted on 04 October 2021 12:08 PM</p>
                                    <a href="#">Exam Preparation Session</a>
                                </div>
                                <hr>

                                <div class="link">
                                    <div class="row">
                                        <a href="#">Exam Preparation Session</a>
                                        <i class="fa-solid fa-xmark"></i>
                                    </div>
                                    <p>Ramakrishna Ganesh posted on 04 October 2021 12:08 PM</p>
                                    <a href="#">Exam Preparation Session</a>
                                </div>
                                <hr>

                                <div class="link">
                                    <div class="row">
                                        <a href="#">Exam Preparation Session</a>
                                        <i class="fa-solid fa-xmark"></i>
                                    </div>
                                    <p>Ramakrishna Ganesh posted on 04 October 2021 12:08 PM</p>
                                    <a href="#">Exam Preparation Session</a>
                                </div>
                                <hr>

                                <div class="link">
                                    <div class="row">
                                        <a href="#">Exam Preparation Session</a>
                                        <i class="fa-solid fa-xmark"></i>
                                    </div>
                                    <p>Ramakrishna Ganesh posted on 04 October 2021 12:08 PM</p>
                                    <a href="#">Exam Preparation Session</a>
                                </div>
                                <hr>

                                <div class="link">
                                    <div class="row">
                                        <a href="#">Exam Preparation Session</a>
                                        <i class="fa-solid fa-xmark"></i>
                                    </div>
                                    <p>Ramakrishna Ganesh posted on 04 October 2021 12:08 PM</p>
                                    <a href="#">Exam Preparation Session</a>
                                </div>

                                </div>
                            </div>

                        <div class="calender-container part">
                            <button type="button" class="collapsible">Calender<span><i class="fa-solid fa-angle-down"></i>
                                <i class="fa-solid fa-angle-up"></i></span></button>
                            <div class="content">
                                <div class="btn-events">
                                    <button class="events">Friday, 1 July 2022 <span><i class="fa-solid fa-angle-right"></i></span></button>

                                    <button class="events">Upcoming Events <span><i class="fa-solid fa-angle-right"></i></span></button>
                                </div>
                            </div>
                        </div>

                        <div class="User-Links-container part">
                            <button type="button" class="collapsible">User Links <span><i class="fa-solid fa-angle-down"></i>
                                <i class="fa-solid fa-angle-up"></i></span></button>
                            <div class="content">
                                <div class="link">
                                    <p>No Items Found.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <script src="js/app.js"></script>
    <script src="js/course_detail.js"></script>
</body>
</html>