{% extends 'student/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Events page{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static "styles/student/events_style.css"%}">
{% endblock css %}
{% block google_tags %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YTXLDDT540"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YTXLDDT540');
</script>
{% endblock google_tags %}
{% block body %}

        <section class="home">
            <div class="upcoming events-section">
                <h1>Upcoming Events</h1>

                <div class="events-list" id="events-list">
                    <div class="event-card">
                        <img class="event-thumbnail-img" src="images/EventImg1.png" alt="Event Img">

                        <div class="event-info">
                            <h1 class="event-title">Metaverse</h1>

                            <p class="event-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio delectus rerum tenetur similique repudiandae aut, cum quibusdam quo sapiente rem cupiditate, nesciunt repellendus quia cumque at laudantium illo, possimus consectetur!</p>

                            <div class="organizer details">
                                <i class="fa-sharp fa-solid fa-users"></i>
                                <p>TechSnap</p>
                            </div>

                            <div class="event-time details">
                                <i class="fa-solid fa-calendar-days"></i>
                                <p>Jan 1, 2023 . 10:25pm</p>
                            </div>
                        </div>

                        <button class="register-btn event-btn">Register</button>
                    </div>

                    <div class="event-card">
                        <img class="event-thumbnail-img" src="images/EventImg2.png" alt="Event Img">

                        <div class="event-info">
                            <h1 class="event-title">Artificial Intelligence</h1>

                            <p class="event-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio delectus rerum tenetur similique repudiandae aut, cum quibusdam quo sapiente rem cupiditate, nesciunt repellendus quia cumque at laudantium illo, possimus consectetur!</p>

                            <div class="organizer details">
                                <i class="fa-sharp fa-solid fa-users"></i>
                                <p>TechSnap</p>
                            </div>

                            <div class="event-time details">
                                <i class="fa-solid fa-calendar-days"></i>
                                <p>Jan 1, 2023 . 10:25pm</p>
                            </div>
                        </div>

                        <button class="register-btn event-btn">Register</button>
                    </div>

                    <div class="event-card">
                        <img class="event-thumbnail-img" src="images/EventImg3.png" alt="Event Img">

                        <div class="event-info">
                            <h1 class="event-title">Crypto Currency</h1>

                            <p class="event-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio delectus rerum tenetur similique repudiandae aut, cum quibusdam quo sapiente rem cupiditate, nesciunt repellendus quia cumque at laudantium illo, possimus consectetur!</p>

                            <div class="organizer details">
                                <i class="fa-sharp fa-solid fa-users"></i>
                                <p>TechSnap</p>
                            </div>

                            <div class="event-time details">
                                <i class="fa-solid fa-calendar-days"></i>
                                <p>Jan 1, 2023 . 10:25pm</p>
                            </div>
                        </div>

                        <button class="register-btn event-btn">Register</button>
                    </div>

                    <div class="event-card">
                        <img class="event-thumbnail-img" src="images/EventImg4.png" alt="Event Img">

                        <div class="event-info">
                            <h1 class="event-title">Machine Learning</h1>

                            <p class="event-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio delectus rerum tenetur similique repudiandae aut, cum quibusdam quo sapiente rem cupiditate, nesciunt repellendus quia cumque at laudantium illo, possimus consectetur!</p>

                            <div class="organizer details">
                                <i class="fa-sharp fa-solid fa-users"></i>
                                <p>TechSnap</p>
                            </div>

                            <div class="event-time details">
                                <i class="fa-solid fa-calendar-days"></i>
                                <p>Jan 1, 2023 . 10:25pm</p>
                            </div>
                        </div>

                        <button class="register-btn event-btn">Register</button>
                    </div>
                </div>
            </div>

            <!-- Event reg popup start -->
            <div class="event-reg-popup-section">
                <div class="popup-content">
                    <span class="close-btn">&times;</span>

                    <div class="reg-content">
                        <img class="popup-event-Img" src="images/EventImg1.png" alt="Event Img">

                        <div class="info">
                            <form action="#" class="event-form" id="form">
                                <div class="popup-event-info">

                                </div>

                                <div class="checkbox-btn">
                                    <input type="checkbox" name="I Agree" id="i-agree">
                                    <label for="i-agree">&nbsp;&nbsp; I Agree to the terms and conditions.</label>
                                </div>

                                <button class="register">Register</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Event reg popup end -->

            <div class="completed events-section">
                <h1>Completed Events</h1>
                <div class="events-list">
                    <div class="event-card">
                        <img src="images/EventImg1.png" alt="Event Img">
                        <div class="event-info">
                            <h1>Metaverse</h1>
                            <div class="organizer details">
                                <i class="fa-sharp fa-solid fa-users"></i>
                                <p>TechSnap</p>
                            </div>
                        </div>
                        <button class="watch-now event-btn"><i class="fa-brands fa-youtube"></i>   Watch Now</button>
                    </div>

                    <div class="event-card">
                        <img src="images/EventImg2.png" alt="Event Img">
                        <div class="event-info">
                            <h1>Metaverse</h1>
                            <div class="organizer details">
                                <i class="fa-sharp fa-solid fa-users"></i>
                                <p>TechSnap</p>
                            </div>
                        </div>
                        <button class="watch-now event-btn"><i class="fa-brands fa-youtube"></i>   Watch Now</button>
                    </div>

                    <div class="event-card">
                        <img src="images/EventImg3.png" alt="Event Img">
                        <div class="event-info">
                            <h1>Metaverse</h1>
                            <div class="organizer details">
                                <i class="fa-sharp fa-solid fa-users"></i>
                                <p>TechSnap</p>
                            </div>
                        </div>
                        <button class="watch-now event-btn"><i class="fa-brands fa-youtube"></i>   Watch Now</button>
                    </div>

                    <div class="event-card">
                        <img src="images/EventImg4.png" alt="Event Img">
                        <div class="event-info">
                            <h1>Metaverse</h1>
                            <div class="organizer details">
                                <i class="fa-sharp fa-solid fa-users"></i>
                                <p>TechSnap</p>
                            </div>
                        </div>
                        <button class="watch-now event-btn"><i class="fa-brands fa-youtube"></i>   Watch Now</button>
                    </div>
                </div>
            </div>
        </section>
    </div>
    {% endblock body %}
    {% block script %}
    <script src="styles/student/event_popup.js"></script>
    {% endblock script %}
