<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test & Assignments Submission Page</title>
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/ta_submission_style.css">
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header class="header">
        <div class="first-header">
            <div class="left-header">
                <div class="menu-toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>

                <img id="logo" src="images/logo.png">
            </div>

            <div class="right-header">
                <div class="all-apps-container">
                    <div class="right-header-icons">
                        <img class="all-apps-icon icon" src="images/Apps.png">
                    </div>
                </div>
    
                <div class="notification-container">
                    <div class="right-header-icons">
                        <img class="notify-icon icon" src="images/notification.png">
                    </div>
                    <div class="dropdown">
                        <div class="notify_item">
                            <div class="notify_img">
                                <img src="images/User.png" alt="profile_pic" style="width: 50px">
                            </div>
                            <div class="notify_info">
                                <p>You have submitted your assignment submission for<span>Assignment-1</span></p>
                                <button class="notify-btn">Explore All</button>
                            </div>
                            <div class="notify_time">
                                <p>2h</p>
                                <h1>...</h1>
                            </div>
                        </div>
                        <div class="notify_item">
                            <div class="notify_img">
                                <img src="images/User.png" alt="profile_pic" style="width: 50px">
                            </div>
                            <div class="notify_info">
                                <p>You have submitted your assignment submission for<span>Assignment-1</span></p>
                                <button class="notify-btn">Explore All</button>
                            </div>
                            <div class="notify_time">
                                <p>2h</p>
                                <h1>...</h1>
                            </div>
                        </div>
                        <div class="notify_See_All">
                            <button class="see-All">See All Notifications</button>
                        </div>
                    </div>
                </div>
    
                <div class="profile-container">
                    <div class="right-header-icons">
                        <img class="profile-icon icon" src="images/User.png">
                    </div>
                    <div class="dropdown-content">
                        <a href="#"><span><i class="fa-solid fa-gauge"></i>Dashboard</span></a>
                        <a href="#"><span><i class="fa-solid fa-table"></i>Grades</span></a>
                        <a href="#"><span><i class="fa-solid fa-comment"></i>Messages</span></a>
                        <a href="#"><span><i class="fa-solid fa-wrench"></i>Preferences</span></a>
                        <a href="#"><span><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="second-header">
            <nav class="nav-bar">
                <ul class="navigation">
                    <li><a href="course_detail.html" class="first">Course Home</a></li>
                    <li><a href="course_learning_page.html">Content</a></li>
                    <li><a href="test_and_assignments_page.html">Test & Assignments</a></li>
                    <li><a href="communication_page.html">Communication</a></li>
                    <li><a href="course_tools_page.html">Course Tools</a></li>
                    <li><a href="#">E - Library</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="content-container">
        <nav class="sidebar close">
            <header>
                <i class='bx bx-chevron-right toggle'></i>
            </header>

            <div class="menu-bar">
                <div class="menu">



                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="index.html">
                                <i class='bx bx-home-alt icon' ></i>
                                <span class="text nav-text">Dashboard</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="all_courses_page.html">
                                <i class='bx bx-bar-chart-alt-2 icon' ></i>
                                <span class="text nav-text">All courses</span>
                            </a>


                        </li>

                        <li class="nav-link">
                            <a href="calender_page.html">
                                <i class='bx bx-bell icon'></i>
                                <span class="text nav-text">Calender</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="notifications_page.html">
                                <i class='bx bx-pie-chart-alt icon' ></i>
                                <span class="text nav-text">Notifications</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="yourFiles_page.html">
                                <i class='bx bx-heart icon' ></i>
                                <span class="text nav-text">Your Files</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="events_page.html">
                                <i class='bx bx-wallet icon' ></i>
                                <span class="text nav-text">Events</span>
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="bottom-content">
                    <li class="">
                        <a href="#">
                            <i class='bx bx-log-out icon' ></i>
                            <span class="text nav-text">Logout</span>
                        </a>
                    </li>

                    <li class="mode">
                        <div class="sun-moon">
                            <i class='bx bx-moon icon moon'></i>
                            <i class='bx bx-sun icon sun'></i>
                        </div>
                        <span class="mode-text text">Dark mode</span>

                        <div class="toggle-switch">
                            <span class="switch"></span>
                        </div>
                    </li>

                </div>
            </div>
        </nav>

        <section class="home">
           <div class="main-content">
                <div class="title-section">
                    <h1 class="ta-title">Test - 1</h1>
                    <div class="ta-details">
                        <img src="images/fileImgPDF.png" alt="file name" class="ta-file-type-img">
                        <a href="Test And Assigments Files/sample.pdf" download="sample File" class="file-download-link">Test File.pdf</a>
                        <p class="date-time">5th Dec 2022, 10:45 AM</p>
                    </div>
                    <h1 class="ta-submission-status">Submission Status</h1>
                </div>
                
                <div class="submission-section">
                    <table class="submission-details-table">
                        <tr>
                            <td class="c1">Submission Status</td>
                            <td class="c2 ta-sub-status-val">Submitted for grading</td>
                        </tr>
                        <tr>
                            <td class="c1">Grading Status</td>
                            <td class="c2 ta-grad-status-val" style="background: #d5ffcf;">Released</td>
                        </tr>
                        <tr>
                            <td class="c1">Last Modified</td>
                            <td class="c2 ta-last-modified-val">Tuesday, 5 April 2022, 5:55 PM</td>
                        </tr>
                        <tr>
                            <td class="c1">File Submissions</td>
                            <td class="c2 ta-file-sub-val">
                                <div class="file-info">
                                    <img src="images/fileImgPDF.png" alt="file type" class="ta-file-type-img">
                                    <a href="Test And Assigments Files/sample.pdf" download="sample File" class="file-download-link">DocScanner 5 April 2022 2 - 18 PM. pdf</a>
                                    <p>5 April 2022, 8:44 PM</p>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="c1">Submission Comments</td>
                            <td class="c2 ta-sub-comments">
                                <div class="comments-section">
                                    <i class="fa-sharp fa-solid fa-caret-right"></i>
                                    <p>Comments (<span>0</span>)</p>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <div class="edit-remove-sub-buttons">
                        <div class="sub-buttons">
                            <button class="edit btn">EDIT SUBMISSION</button>
                            <button class="remove btn">REMOVE SUBMISSION</button>
                        </div>
                        <p>You can still make changes to your submission.</p>
                    </div>
                </div>

                <div class="feedback-section">
                    <h1>Feedback</h1>
                    <table class="grade-details-table">
                        <tr>
                            <td class="c1">Grade</td>
                            <td class="c2 ta-grade-val">26.00 / 30.00</td>
                        </tr>
                        <tr>
                            <td class="c1">Graded On</td>
                            <td class="c2 ta-graded-time-val">Sunday, 27 April 2022, 4:00 PM</td>
                        </tr>
                        <tr>
                            <td class="c1">Graded By</td>
                            <td class="c2 ta-graded-By-val">
                                <img src="images/User.png" alt="Professor name">
                                <p>Mr. David Hopper</p>
                            </td>
                        </tr>
                    </table>
                </div>
           </div>
        </section>
    </div>

    <script src="js/app.js"></script>
</body>

</html>