.filter-popup
{
    position: fixed;
    z-index: 4;
    width: 300px;
    height: 300px;
    top: 70px;
    right: 10px;
    display: none;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(236, 232, 232, 0.856);
}
.filters-cont 
{
    padding: 15px;
}
.filter-heading 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-close 
{
    width: 18px;
    height: 18px;
    cursor: pointer;
}
.filters 
{
    font-size: 20px;
    font-weight: bold;
}
.filter-option 
{
    padding: 5px 0px;
}
.filter-option p 
{
    padding: 5px 0px;
}
.filter-option-heading 
{
    font-size: 17px;
}
.option 
{
    border: 1px solid rgba(236, 232, 232, 0.856);
    font-size: 13px;
    padding: 3px 4px;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
}
.option:hover 
{
    background-color: rgb(246, 246, 246);
}
.filter-apply 
{
    padding: 10px 0px;
}
.filter-apply-btn 
{
    width: 100%;
    padding: 6px;
    border: none;
    color: white;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(162, 88, 253) 0%, rgba(116,182,247,1) 90% );
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
.filter-apply-btn:hover 
{
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(116,182,247,1) 0% ,  rgb(162, 88, 253) 90%);
}
