{% extends 'manager/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}RequestDetail{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'styles/students-style.css' %}">
<link rel="stylesheet" href="{% static 'styles/courses-style.css'%}">
<link rel="stylesheet" href="{% static 'styles/add-popup.css'%}">
<link rel="stylesheet" href="{% static 'styles/profile-style.css'%}">
<link rel="stylesheet" href="{% static 'css/w3.css'%}">
<style>
    p{
        margin-bottom: 0 !important;
    }
</style>
{% endblock css %}
{% block body %}
    <div class="body">
        {% include 'messages.html' %}

        <div class="prof-container">
            <div class="prof">
                <div class="prof-item prof-details">
                    <div class="image-details">
                        <div class="prof-image">
                            {% if application.profile.profile_pic %}
                                <img src="{{application.profile.profile_pic.url}}" alt="">
                            {% else %}
                                <img src="" alt="">
                            {% endif %}

                        </div>
                        <div class="details">
                            <p class="prof-name">{{ application.full_name }}</p>
                            {% if application.is_verified %}
                            <p class="status"><b>Status : </b><span>Verifed</span></p>
                            {% endif %}
                            {% if application.is_rejected %}
                            <p class="status"><b>Status : </b><span>Rejected</span></p>
                            {% endif %}
                            {% if application.is_rejected == False and application.is_verified == False%}
                            <p class="status"><b>Status : </b><span>Pending</span></p>
                            {% endif %}
                        </div>
                    </div>
                    {% if application.is_verified == False and application.is_rejected == False%}
                    <div class="prof-buttons">


                        <form method="POST" action="{% url 'manager:application-details' application.profile.status application.id  %}">
                            {% csrf_token %}
                        <div style="display:flex">
                            <div class="accept">
                                <button class="accept-btn" type="submit" name="action" value="accept">

                                    <img src="{% static 'rsc/icons8-double-tick-30.png' %}" alt=""  class="icon">
                                    Accept
                                </button>
                            </div>
                            <div class="reject">
                                <button class="reject-btn" type="submit" name="action" value="reject">
                                    <img src="{% static 'rsc/icons8-close-30 (3).png' %}" alt="" class="icon">
                                    Reject
                                </button>
                            </div>
                        </div>

                    </form>

                    </div>
                    {% endif %}
                </div>
                <div class="tabs prof-item">
                    <div class="tab personal current">
                        <img src="{% static 'rsc/icons8-person-30.png' %}" alt="" class="icon">
                        <p>Personal</p>
                    </div>
                    <div class="tab education not-current">
                        <img src="{% static 'rsc/icons8-student-center-30.png' %}" alt="" class="icon">
                        <p>Education</p>
                    </div>
                    <div class="tab experience not-current">
                        <img src="{% static 'rsc/icons8-laptop-30.png' %}" alt="" class="icon">
                        <p>Experience</p>
                    </div>
                </div>
                <div class="prof-item personal-info">
                    <div class="info">
                        <img src="{% static 'rsc/icons8-iphone-24.png' %}" alt="" class="icon">
                        <p class="info-name">Mobile : </p>
                    </div>
                    <div class="info">
                        <img src="{% static 'rsc/icons8-mail-24.png' %}" alt="" class="icon">
                        <p class="info-name">Email : {{ application.profile.email }} </p>
                    </div>
                    <div class="info">
                        <img src="{% static 'rsc/icons8-location-24 (1).png' %}" alt="" class="icon">
                        <p class="info-name">Location</p>
                    </div>
                    <div class="info">
                        <img src="{% static 'rsc/icons8-visualization-skill-24.png' %}" alt="" class="icon">
                        <p class="info-name">Skills : </p>
                    </div>
                    <div class="info">
                        <img src="{% static 'rsc/icons8-linkedin-24 (1).png' %}" alt="" class="icon">
                        <p class="info-name">LinkedIn : </p>
                    </div>
                    <div class="info">
                        <img src="{% static 'rsc/icons8-github-24.png' %}" alt="" class="icon">
                        <p class="info-name">Github : </p>
                    </div>
                    <div class="info">
                        <img src="{% static 'rsc/icons8-code-24.png' %}" alt="" class="icon">
                        <p class="info-name">Programming Languages : </p>
                    </div>
                </div>
                <div class="prof-item education-info">
                    <div class="info">
                        <img src="rsc/icons8-iphone-24.png" alt="" class="icon">
                        <p class="info-name">Semester : {{ application.semester}}</p>
                    </div>
                    <div class="info">
                        <img src="rsc/icons8-mail-24.png" alt="" class="icon">
                        <p class="info-name">Section : {{ application.section}}</p>
                    </div>
                    <div class="info">
                        <img src="rsc/icons8-location-24 (1).png" alt="" class="icon">
                        <p class="info-name">Department: {{ application.department}}</p>
                    </div>
                    <div class="info">
                        <img src="{% static 'rsc/icons8-visualization-skill-24.png' %}" alt="" class="icon">
                        <p class="info-name">Skills : </p>
                    </div>
                    <div class="info">
                        <img src="{% static 'rsc/icons8-linkedin-24 (1).png' %}" alt="" class="icon">
                        <p class="info-name">LinkedIn : </p>
                    </div>
                    <div class="info">
                        <img src="{% static 'rsc/icons8-github-24.png' %}" alt="" class="icon">
                        <p class="info-name">Github : </p>
                    </div>
                    <div class="info">
                        <img src="{% static 'rsc/icons8-code-24.png' %}" alt="" class="icon">
                        <p class="info-name">Programming Languages : </p>
                    </div>
                </div>
                <div class="prof-item experience-info">
                    <div class="info">
                        <img src="{% static 'rsc/icons8-iphone-24.png' %}" alt="" class="icon">
                        <p class="info-name">Mobile : </p>
                    </div>
                    <div class="info">
                        <img src="{% static 'rsc/icons8-mail-24.png' %}" alt="" class="icon">
                        <p class="info-name">Email : </p>
                    </div>
                    <div class="info">
                        <img src="{% static 'rsc/icons8-location-24 (1).png' %}" alt="" class="icon">
                        <p class="info-name">Location</p>
                    </div>
                    <div class="info">
                        <img src="{% static 'rsc/icons8-visualization-skill-24.png' %}" alt="" class="icon">
                        <p class="info-name">Skills : </p>
                    </div>
                    <div class="info">
                        <img src="{% static 'rsc/icons8-linkedin-24 (1).png' %}" alt="" class="icon">
                        <p class="info-name">LinkedIn : </p>
                    </div>
                    <div class="info">
                        <img src="{% static 'rsc/icons8-github-24.png' %}" alt="" class="icon">
                        <p class="info-name">Github : </p>
                    </div>
                    <div class="info">
                        <img src="{% static 'rsc/icons8-code-24.png' %}" alt="" class="icon">
                        <p class="info-name">Programming Languages : </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock body %}
    {% block script %}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
        <script src="{% static 'scripts/add-course.js' %}"></script>
        <script src="{% static 'scripts/groups-script.js' %}"></script>
        <script src="{% static 'scripts/profile-script.js' %}"></script>
        <script src="{% static 'scripts/announcements-script.js' %}"></script>
        <script src="{% static 'scripts/students-script.js' %}"></script>
    {% endblock script %}