{% extends 'manager/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Requests{% endblock title %}
{% block body %}
    <div class="body">
        {% include 'messages.html' %}
        <div class="groups-container">
            <div class="gp">
                <div class="heading groups-item">
                    <div class="head heading-item">

                        <p class="heading-name">
                            Requests
                        </p>
                    </div>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#eventmodel">Add User</button>

                    <div class="modal fade" id="eventmodel" tabindex="-1" aria-labelledby="eventmodel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" , action="{% url 'register'  %}">

                                        {% csrf_token %}
                                        {{ user_form|crispy }}
                                        <input type="hidden" value={{j.id}} name="id" id="id">
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="filter-search heading-item">
                        <div class="search fs-item">
                            <input type="text" name="" id="" placeholder="search courses" class="search-item searchbar">
                            <img src="{% static 'rsc/icons8-search-50 (4).png' %}" alt=""
                                class="search-icon search-item">
                        </div>
                        <!--<div class="filter fs-item">
                            <button class="filter-btn"><img src="rsc/icons8-settings-34.png" alt="">
                                <p>Filter</p>
                            </button>
                        </div>
                    -->
                    </div>
                </div>


                <div class="tabs groups-item">
                    <div class="tab default current">
                        <img src="{% static 'rsc/icons8-clock-48.png' %}" alt="" class="icon">
                        <p class="default-hov">New</p>
                    </div>
                    <div class="tab private not-current">
                        <img src="{% static 'rsc/icons8-checkmark-32.png' %}" alt="" class="icon">
                        <p class="private-hov">Accepted</p>
                    </div>
                    <div class="tab public not-current">
                        <img src="{% static 'rsc/icons8-close-30 (2).png' %}" alt="" class="icon">
                        <p class="public-hov">Rejected</p>
                    </div>
                </div>
                <div class="table groups-item default-table">
                    <div class="table-item">
                        <table>
                            <tr>
                                <th class="invisible1"></th>
                                <th class="invisible1">Roll No.</th>
                                <th>Full Name</th>
                                <th class="invisible1">Email</th>
                                <th class="invisible1">Requested On</th>
                                <th>Profile</th>
                            </tr>
                            {% comment %} {% for i in request %}
                            Name: {{i.user}}<br />
                            College: {{i.college}}<br />
                            Semester: {{i.semester}}<br />
                            Section: {{i.section}}<br />
                            Year: {{i.Year}}<br />
                            Roll Number: {{i.roll_number}}<br />
                            Department: {{i.department}}<br />

                            <br />
                            <button> <a href="{% url 'accept_req' i.user.id  %}">Grant Request</a></button>
                            <button> <a href="#">Reject Request</a></button>

                            {% endfor %} {% endcomment %}


                            {% for app in pending_applications %}
                            <tr>
                                {% if i.user.profile.profile_pic %}
                                <td class="invisible1"><img src={{app.profile.profile_pic.url}} alt="" class="icon">
                                </td>
                                {% else %}
                                <td class="invisible1"><img src="{% static 'rsc/icons8-clock-48.png' %}" alt="" class="icon"></td>
                                {% endif %}
                                <td class="invisible1">{{app.roll_number}}</td>
                                <td>{{ app.full_name }}</td>
                                <td class="invisible1">{{ app.email}}</td>
                                <td class="invisible1">{{ app.requested_on }}</td>
                                <td>
                                    <button class="view-btn">
                                    <a href="{% url 'manager:application-details' app.profile.status app.id %}">view</a>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}


                        </table>
                        <div class="page-num table-item">
                            <p class="bracket">&lt;</p>
                            <p class="num">1</p>
                            <p class="num">2</p>
                            <p class="num">3</p>
                            <p class="num">4</p>
                            <p class="num">5</p>
                            <p class="num">6</p>
                            <p class="bracket">&gt;</p>
                        </div>
                    </div>
                </div>
                <div class="table groups-item private-table">
                    <div class="table-item">
                        <table>
                            <tr>
                                <th class="invisible1"></th>
                                <th class="invisible1">Roll No.</th>
                                <th>Full Name</th>
                                <th class="invisible1">Email</th>
                                <th class="invisible1">Requested On</th>
                                <th>Profile</th>
                            </tr>
                            {% for app in verified_applications %}
                            <tr>
                                {% if app.profile.profile_pic %}
                                <td class="invisible1"><img src={{app.profile.profile_pic.url}} alt="" class="icon">
                                </td>
                                {% else %}
                                <td class="invisible1"><img src="{% static 'rsc/icons8-checkmark-32.png' %}" alt="" class="icon"></td>
                                {% endif %}
                                <td class="invisible1">{{app.roll_number}}</td>
                                <td>{{ app.full_name }}</td>
                                <td class="invisible1">{{app.email}}</td>
                                <td class="invisible1">{{app.requested_on}}</td>
                                <td><button class="view-btn"><a href="">view</a></button></td>
                            </tr>
                            {% endfor %}

                        </table>
                        <div class="page-num table-item">
                            <p class="bracket">&lt;</p>
                            <p class="num">1</p>
                            <p class="num">2</p>
                            <p class="num">3</p>
                            <p class="num">4</p>
                            <p class="num">5</p>
                            <p class="num">6</p>
                            <p class="bracket">&gt;</p>
                        </div>
                    </div>
                </div>
                <div class="table groups-item public-table">
                    <div class="table-item">
                        <table>
                            <tr>
                                <th class="invisible1"></th>
                                <th class="invisible1">Roll No.</th>
                                <th>Full Name</th>
                                <th class="invisible1">Email</th>
                                <th class="invisible1">Requested On</th>
                                <th>Profile</th>
                            </tr>
                            {% for app in rejected_applications %}
                            <tr>
                                {% if app.profile.profile_pic %}
                                <td class="invisible1"><img src={{app.profile.profile_pic.url}} alt="" class="icon">
                                </td>
                                {% else %}
                                <td class="invisible1"><img src="{% static 'rsc/icons8-close-30 (2).png' %}" alt="" class="icon"></td>
                                {% endif %}
                                <td class="invisible1">{{app.roll_number}}</td>
                                <td>{{app.full_name}}</td>
                                <td class="invisible1">{{app.email}}</td>
                                <td class="invisible1">{{app.requested_on}}</td>
                                <td><button class="view-btn"><a href="">view</a></button></td>
                            </tr>
                            {% endfor %}

                        </table>
                        <div class="page-num table-item">
                            <p class="bracket">&lt;</p>
                            <p class="num">1</p>
                            <p class="num">2</p>
                            <p class="num">3</p>
                            <p class="num">4</p>
                            <p class="num">5</p>
                            <p class="num">6</p>
                            <p class="bracket">&gt;</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}