{% extends 'manager/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Studentlist{% endblock title %}
{% block css %}
<style>
    p{
        margin-bottom: 0 !important;
    }
</style>
{% endblock css %}
{% block body %}
    <div class="body">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message!-</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        {% endfor %}
        <div class="groups-container">
            <div class="gp">
                <div class="heading groups-item">
                    <div class="head heading-item">

                        <p class="heading-name">
                            Teacher Profiles
                        </p>
                    </div>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#eventmodel">Add</button>

                    <div class="modal fade" id="eventmodel" tabindex="-1" aria-labelledby="eventmodel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                            <div class="modal-body">
                            <form method = "POST", action="{% url 'register'  %}" >

                                {% csrf_token %}
                                {{ user_form|crispy }}
                                <input  type="hidden" value={{j.id}} name="id" id="id">
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                            </div>

                        </div>
                        </div>
                </div>

                </div>




                <div class="table groups-item default-table">
                    <div class="table-item">
                        <table>
                            <tr>
                                <th class="invisible1"></th>
                                <th >Department</th>
                                <th class="invisible1">Full Name</th>
                                <th class="invisible1">Email</th>
                                <th>Profile</th>
                            </tr>
                        {% comment %} {% for i in request %}
                            Name: {{i.user}}<br/>
                            College: {{i.college}}<br/>
                            Semester: {{i.semester}}<br/>
                            Section: {{i.section}}<br/>
                            Year: {{i.Year}}<br/>
                            Roll Number: {{i.roll_number}}<br/>
                            Department: {{i.department}}<br/>

                            <br/>
                            <button> <a href="{% url 'accept_req' i.user.id  %}" >Grant Request</a></button>
                            <button> <a href="#" >Reject Request</a></button>

                        {% endfor %} {% endcomment %}
                        {% for teacher in teachers %}
                            <tr>
                                {% if teacher.profile.profile_pic %}
                                <td class="invisible1"><img src={{ teacher.profile.profile_pic.url }} alt="" class="icon"></td>
                                {% else %}
                                <td class="invisible1"><img src="" alt="" class="icon"></td>
                                {% endif %}
                                <td >{{ teacher.department }}</td>
                                <td class="invisible1">{{ teacher.full_name }}</td>
                                <td class="invisible1">{{ teacher.profile.email }}</td>
                                <td><button class="view-btn"><a href="">view</a></button></td>
                            </tr>
                        {% endfor %}


                        </table>
                        <div class="page-num">
                            <p class="bracket"><</p>
                            <p class="num">1</p>
                            <p class="num">2</p>
                            <p class="num">3</p>
                            <p class="num">4</p>
                            <p class="num">5</p>
                            <p class="num">6</p>
                            <p class="bracket">></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock body %}