{% extends 'teacher/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}coursedetail{% endblock title %}
{% block body %}
    <div class="body">
        <div style="display: flex;" class="row d-flex justify-content-center">
            <div class = "col-md-4">
                <div style="display:flex">
                    <a href=><button class="btn btn-link ">All Courses</button></a>
                    <a href=><button class="btn btn-link ">lkmdmcsdc</button></a>
              </div>
            <h3 class="mr-5">kmdmwdk;</h3>
            <img src = alt="Course Image" width="100" height="100">
            <h4>kjndw</h4>
            <h4>wdxcklwnd;kc</h4>
            <a href="">
                <button class="delete-btn">Delete</button>
            </a>
            <button class="btn btn-primary" data-toggle="modal" data-target="#editcoursemodal">Edit Course</button>
            </div>
        </div>

        <div class="modal fade" id="editcoursemodal" tabindex="-1" aria-labelledby="editcoursemodal" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editcoursemodaltitle">Edit your course</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action= method="post" enctype="multipart/form-data">{% csrf_token %}
                    <div class="form-group">
                      <label for="title">Title</label>
                      <input type="text" value="" class="form-control" id="title" name="title"
                        placeholder="Enter title" required>
                    </div>
                    <input type="hidden" value= name="courseid" id="courseid" />
                    <div class="form-group">
                      <label for="category">Category</label>
                      <input type="text" value="" class="form-control" id="category" name="category"
                        placeholder="Enter category" required>
                    </div>
                    <div class="form-group">
                      <label for="image" class="form-label">Image</label>
                      <input type="file" class="form-control" id="image" name="image">
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
              </div>
            </div>
          </div>
    </div>

    {% endblock body %}


    {% block script %}

    <script src="{% static '{% static ' %}'scripts/add-course.js'%}"></script>
    {% endblock script %}
