{% extends 'teacher/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Allcourses{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'styles/courses-style.css'%}">
<link rel="stylesheet" href="{% static 'styles/add-popup.css'%}">
{% endblock css %}
{% block body %}
<div class="add-course">
    <div class="popup">
        <div class="left">
            <div class="left-cont">
                <img src="{% static 'rsc/icons8-project-management-48.png' %}" alt="">
                <h3>managesnap</h3>
            </div>
        </div>
        <form method="POST" action="{% url 'teacher:course-create' %}" enctype="multipart/form-data">
            {% csrf_token %}
        <div class="right">
            <div class="right-cont">
                <div class="right-item">
                    <h3>Course Title</h3>
                    <input type="text" name="title" placeholder="Enter course title" required>
                </div>
                <div class="right-item">
                    <h3>Banner Image</h3>
                    <input type="file" name="image" accept="image/*">
                </div>
                <div class="right-item">
                    <h3>Course Price</h3>
                    <input type="number" name="course_price" placeholder="Enter course price" required>
                </div>
                <div class="right-item">
                    <h3>Is Paid?</h3>
                    <input type="checkbox" name="is_paid">
                </div>
                <div class="right-item">
                    <h3>Course Level</h3>
                    <select name="course_level">
                        <option value="Beginner">Beginner</option>
                        <option value="Intermediate">Intermediate</option>
                        <option value="Advanced">Advanced</option>
                    </select>
                </div>
                <div class="right-item ac-btn">
                    <button type="submit">Create</button>
                    <button class="cancel">Cancel</button>
                </div>
            </div>
        </div>
    </form>
        <img src="{% static 'rsc/icons8-close-50.png' %}" alt="" class="cancel-icon">
    </div>
</div>

    <div class="body">
        <div class="courses-container">
            <div class="courses-heading course-item">
                <p class="main">Explore Courses</p>
            </div>
            <div class="filter-search course-item">
                <div class="search fs-item">
                    <input type="text" name="" id="" placeholder="search courses" class="search-item searchbar">
                    <img src="{% static 'rsc/icons8-search-50 (4).png' %}" alt="" class="search-icon search-item">
                </div>
                <div class="filter fs-item">
                    <button class="filter-btn" id="add-course-btn">Add</button>
                </div>
            </div>
            <div class="courses course-item">
                <div class="course-sets">
                    {% for course in courses %}
                    <div class="course">
                        <div class="course-banner">
                            <img src="{{ course.image.url }}" alt="" class="banner">
                        </div>
                        <div class="course-details">
                            <div class="course-author cd">
                                {% if course.created_by.profile.profile_pic %}
                                <img src="{{ course.created_by.profile.profile_pic.url }}" alt="" class="author">
                                {% else %}
                                <img src="{% static 'rsc/author-1' %}" alt="" class="author">
                                {% endif %}
                                <p>{{ course.created_by.username }}</p>
                            </div>
                            <h3 class="course-name cd">{{ course.title }}</h3>
                            <div class="diff-preview cd">
                                <div class="difficulty">
                                    <p>{{ course.course_level }}</p>
                                </div>
                                <div class="preview">
                                    <a href="{% url 'teacher:course-detail' course.pk %}"><button class="preview-btn">Preview</button></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    No courses
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'scripts/add-course.js' %}"></script>
    {% endblock body %}
