{% extends 'teacher/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}coursecreate{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'styles/courses-style.css'%}">
<link rel="stylesheet" href="{% static 'styles/add-popup.css'%}">
{% endblock css %}
{% block body %}

<div class="add-course">
    <div class="popup">
        <div class="left">
            <div class="left-cont">
                <img src="rsc/icons8-project-management-48.png" alt="">
                <h3>managesnap</h3>
            </div>
        </div>
        <div class="right">
            <div class="right-cont">
                <div class="right-item">
                    <h3>
                        Course Title
                    </h3>
                    <input type="text" name="" id="" placeholder="enter course title">
                </div>
                <div class="right-item">
                    <button class="upload">Upload Banner Image</button>
                </div>
                <div class="right-item ac-btn">
                    <button class="a"><a href="">Upload</a></button>
                    <button class="cancel">Cancel</button>
                </div>
            </div>
        </div>
        <img src="rsc/icons8-close-50.png" alt="" class="cancel-icon">
    </div>
</div>

    <div class="body">
        <div class="courses-container">
            <div class="courses-heading course-item">
                <p class="main">Explore Courses</p>
            </div>
            <div class="filter-search course-item">
                <div class="search fs-item">
                    <input type="text" name="" id="" placeholder="search courses" class="search-item searchbar">
                    <img src="{% static 'rsc/icons8-search-50 (4).png' %}" alt="" class="search-icon search-item">
                </div>
                <div class="filter fs-item">
                    <button class="filter-btn" id="add-course-btn">Add</button>
                </div>
            </div>
            <div class="courses course-item">
                <div class="course-sets">
                    <div class="course">
                        <div class="course-banner">
                            <img src="{% static 'rsc/banner-1' %}" alt="" class="banner">
                        </div>
                        <div class="course-details">
                            <div class="course-author cd">
                                <img src="{% static 'rsc/author-1' %}" alt="" class="author">
                                <p>The Pragmatic Programmers</p>
                            </div>
                            <h3 class="course-name cd">Fundamentals of Testing Using Rails</h3>
                            <div class="diff-preview cd">
                                <div class="difficulty">
                                    <p>Advanced</p>
                                </div>
                                <div class="preview">
                                    <button class="preview-btn">Preview</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="course">
                        <div class="course-banner">
                            <img src="{% static 'rsc/banner-2' %}" alt="" class="banner">
                        </div>
                        <div class="cds">
                            <div class="course-author cd">
                                <img src="{% static 'rsc/author-2' %}" alt="" class="author">
                                <p>Alexandre Rousseau</p>
                            </div>
                            <h3 class="course-name cd">Building your own API with Rails</h3>
                            <div class="diff-preview cd">
                                <div class="difficulty">
                                    <p>Beginner</p>
                                </div>
                                <div class="preview">
                                    <button class="preview-btn">Preview</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="course">
                        <div class="course-banner">
                            <img src="{% static 'rsc/banner-3' %}" alt="" class="banner">
                        </div>
                        <div class="course-details">
                            <div class="course-author cd">
                                <img src="{% static 'rsc/author-3' %}" alt="" class="author">
                                <p>Eric Gitonga</p>
                            </div>
                            <h3 class="course-name cd">Develop Web Apps with Streamlit</h3>
                            <div class="diff-preview cd">
                                <div class="difficulty">
                                    <p>Beginner</p>
                                </div>
                                <div class="preview">
                                    <button class="preview-btn">Preview</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="course">
                        <div class="course-banner">
                            <img src="{% static 'rsc/banner-4' %}" alt="" class="banner">
                        </div>
                        <div class="course-details">
                            <div class="course-author cd">
                                <img src="{% static 'rsc/author-4' %}" alt="" class="author">
                                <p>Francesco Leardini</p>
                            </div>
                            <h3 class="course-name cd">Master the Deno JavaScript Runtime</h3>
                            <div class="diff-preview cd">
                                <div class="difficulty">
                                    <p>Beginner</p>
                                </div>
                                <div class="preview">
                                    <button class="preview-btn">Preview</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="course">
                        <div class="course-banner">
                            <img src="{% static 'rsc/banner-5' %}" alt="" class="banner">
                        </div>
                        <div class="course-details">
                            <div class="course-author cd">
                                <img src="{% static 'rsc/author-5' %}" alt="" class="author">
                                <p>Juan Bruno</p>
                            </div>
                            <h3 class="course-name cd">Mastering Big Data with Apache Spark and Java</h3>
                            <div class="diff-preview cd">
                                <div class="difficulty">
                                    <p>Intermediate</p>
                                </div>
                                <div class="preview">
                                    <button class="preview-btn">Preview</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="course">
                        <div class="course-banner">
                            <img src="{% static 'rsc/banner-6' %}" alt="" class="banner">
                        </div>
                        <div class="course-details">
                            <div class="course-author cd">
                                <img src="{% static 'rsc/author-6' %}" alt="" class="author">
                                <p>Raghav Aggarwal</p>
                            </div>
                            <h3 class="course-name cd">A Programmer’s Guide to AWS S3</h3>
                            <div class="diff-preview cd">
                                <div class="difficulty">
                                    <p>Beginner</p>
                                </div>
                                <div class="preview">
                                    <button class="preview-btn">Preview</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'scripts/add-course.js' %}"></script>
    {% endblock body %}


    {% block script %}
    {% endblock script %}
