{% extends 'teacher/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}coursedetail{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static "styles/view-style.css"%}">
<link rel="stylesheet" href="{% static "styles/style.css"%}">
<link rel="stylesheet" href="{% static "styles/announcements-style.css"%}">
<link rel="stylesheet" href="{% static "styles/groups-style.css" %}">
<link rel="stylesheet" href="{% static "styles/courses-style.css"%}">
<link rel="stylesheet" href="{% static "styles/add-popup.css"%}">
<link rel="stylesheet" href="{% static "styles/profile-style.css"%}">
<link rel="stylesheet" href="{% static "css/w3.css"%}">
{% endblock css %}
{% block body %}
<div class="add-course">
    <div class="popup">
        <div class="left">
            <div class="left-cont">
                <img src="{% static 'rsc/icons8-project-management-48.png' %}" alt="">
                <h3>managesnap</h3>
            </div>
        </div>
        <form method="POST" action="{% url 'teacher:course-update' course.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="right">
                <div class="right-cont">
                    <div class="right-item">
                        <h3>Course Title</h3>
                        <input type="text" name="title" placeholder="Enter course title" value="{{ course.title }}" required>
                    </div>
                    <div class="right-item">
                        <h3>Banner Image</h3>
                        <input type="file" name="image" accept="image/*">
                    </div>
                    <div class="right-item">
                        <h3>Course Price</h3>
                        <input type="number" name="course_price" placeholder="Enter course price" value="{{ course.course_price }}" required>
                    </div>
                    <div class="right-item">
                        <h3>Is Paid?</h3>
                        <input type="checkbox" name="is_paid" {% if course.is_paid %}checked{% endif %}>
                    </div>
                    <div class="right-item">
                        <h3>Course Level</h3>
                        <select name="course_level">
                            <option value="Beginner" {% if course.course_level == 'Beginner' %}selected{% endif %}>Beginner</option>
                            <option value="Intermediate" {% if course.course_level == 'Intermediate' %}selected{% endif %}>Intermediate</option>
                            <option value="Advanced" {% if course.course_level == 'Advanced' %}selected{% endif %}>Advanced</option>
                        </select>
                    </div>
                    <div class="right-item ac-btn">
                        <button type="submit">Update</button>
                        <button class="cancel">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
        <img src="{% static 'rsc/icons8-close-50.png' %}" alt="" class="cancel-icon">
    </div>
</div>


    <div class="body">
        <div class="courses-container">
            <div class="courses-heading course-item">
                <p class="main">coursedetails</p>
            </div>
            <div class="courses course-item">
                <div class="course-sets">

                    <div class="course">
                        <div class="course-banner">
                            <img src="{{ course.image.url }}" alt="" class="banner">
                        </div>
                        <div class="course-details">
                            <div class="course-author cd">
                                {% if course.created_by.profile.profile_pic %}
                                <img src="{{ course.created_by.profile.profile_pic.url }}" alt="" class="author">
                                {% else %}
                                <img src="{% static 'rsc/author-1' %}" alt="" class="author">
                                {% endif %}
                                <p>{{ course.created_by.username }}</p>
                            </div>
                            <h3 class="course-name cd">{{ course.title }}</h3>
                            <div class="diff-preview cd">
                                <div class="difficulty">
                                    <p>{{ course.course_level }}</p>
                                </div>
                                <div class="preview">
                                    <form method="POST" action="{% url 'teacher:course-release' course.id %}">
                                        {% csrf_token %}
                                    {% if course.is_released %}
                                    <button type="submit" class="preview-btn">Draft</button>
                                    {% else %}
                                    <button type="submit" class="preview-btn">Release</button>
                                    {% endif %}
                                </form>
                                </div>
                                <div class="preview">
                                <button class="filter-btn" id="add-course-btn">edit</button>
                                </div>
                                <div class="preview">
                                    <a href="{% url 'teacher:enrollment-list' course.id %}">
                                        <button class="filter-btn">Enroll Students</button>
                                    </a>
                                </div>
                                <div class="preview">
                                    <a href="{% url 'teacher:course-stats' course.id %}">
                                        <button class="filter-btn">Student stats</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
    {% endblock body %}


    {% block script %}
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
<script src="{% static "scripts/script.js"%}"></script>
<script src="{% static "scripts/add-course.js"%}"></script>
<script src="{% static "scripts/groups-script.js"%}"></script>
<script src="{% static "scripts/profile-script.js"%}"></script>
<script src="{% static "scripts/announcements-script.js"%}"></script>
    <script src="{% static '{% static ' %}'scripts/add-course.js'%}"></script>
    {% endblock script %}
