{% extends 'teacher/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}groups{% endblock title %}
{% block body %}
    <div class="body">
        <div class="groups-container">
            <div class="gp">
                <div class="heading groups-item">
                    <div class="head heading-item">
                        <p class="heading-name">
                            Groups
                        </p>
                    </div>
                    <div class="heading-item but">
                        <button class="view">
                            <img src="rsc/icons8-table-24.png" alt="" class="view-icon">
                            <p id="view-type">Tab View</p>
                        </button>
                    </div>

                </div>
                <div class="tabs groups-item">
                    <div class="tab private not-current">
                        <img src="rsc/icons8-lock-50.png" alt="" class="icon">
                        <p class="private-hov">Private</p>
                    </div>
                    <div class="tab public not-current">
                        <img src="rsc/icons8-globe-50.png" alt="" class="icon">
                        <p class="public-hov">Public</p>
                    </div>
                </div>
                <div class="table-view groups-item">
                    <div class="private-table">
                        
                        <div class="table-item">
                            <table>
                                <tr>
                                    <th>Group Name</th>
                                    <th class="invisible">Created By</th>
                                    <th class="invisible">Number Of Students</th>
                                    <th class="invisible">Created On</th>
                                    <th>View Group</th>
                                </tr>
                                {% for group in private_groups %}
                                <tr>
                                    <td>{{ group.name }}</td>
                                    <td class="invisible">{{ group.created_by.username }}</td>
                                    <td class="invisible">{{ group.students.count }}</td>
                                    <td class="invisible">{{ group.created_at }}</td>
                                    <td><button class="view-btn"><a href="">view</a></button></td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <p>No Private Groups Available</p>
                                </tr>
                                {% endfor %}
                            </table>
                            <div class="page-num table-item">
                                <p class="bracket"><</p>
                                <p class="num">1</p>
                                <p class="num">2</p>
                                <p class="num">3</p>
                                <p class="num">4</p>
                                <p class="num">5</p>
                                <p class="num">6</p>
                                <p class="bracket">></p>
                            </div>
                        </div>
                    </div>
                    <div class="public-table">
                        <div class="table-item">
                            <table>
                                <tr>
                                    <th>Group Name</th>
                                    <th class="invisible">Created By</th>
                                    <th class="invisible">Number Of Students</th>
                                    <th class="invisible">Created On</th>
                                    <th>View Group</th>
                                </tr>
                                {% for group in public_groups %}
                                <tr>
                                    <td>{{ group.name }}</td>
                                    <td class="invisible">{{ group.created_by.username }}</td>
                                    <td class="invisible">{{ group.students.count }}</td>
                                    <td class="invisible">{{ group.created_at }}</td>
                                    <td><button class="view-btn"><a href="">view</a></button></td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <p>No Public Groups Available</p>
                                </tr>
                                {% endfor %}
                                
                            </table>
                            <div class="page-num table-item">
                                <p class="bracket">&lt;</p>
                                <p class="num">1</p>
                                <p class="num">2</p>
                                <p class="num">3</p>
                                <p class="num">4</p>
                                <p class="num">5</p>
                                <p class="num">6</p>
                                <p class="bracket">&gt;</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs-view groups-item">
                    <div class="private-tab tab-item">
                        <div class="t">CSE-E</div>
                        <div class="t">CSE-F</div>
                        <div class="t">CSE-G</div>
                        <div class="t">CSE-H</div>
                    </div>
                    <div class="public-tab tab-item">
                        <div class="t">ISE-A</div>
                        <div class="t">ISE-B</div>
                        <div class="t">ISE-C</div>
                        <div class="t">ISE-D</div>
                        <div class="t">ECE-E</div>
                        <div class="t">ECE-F</div>
                        <div class="t">ECE-G</div>
                        <div class="t">ECE-H</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    {% endblock body %}
    
    {% block script %}
    <script src="{% static 'scripts/groups-script.js'%}"></script>
    {% endblock script %}