{% extends 'teacher/course_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}lessons{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'styles/announcements-style.css'%}">
<link rel="stylesheet" href="{% static 'styles/add-popup.css'%}">
{% endblock css %}
{% block body %}
<div class="add-course">
    <div class="popup">
        <div class="left">
            <div class="left-cont">
                <img src="{% static 'rsc/icons8-project-management-48.png' %}" alt="">
                <h3>managesnap</h3>
            </div>
        </div>
        <form method="POST" action="{% url 'teacher:lesson-create' unit.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="right">
                <div class="right-cont">
                    <div class="right-item">
                        <h3>Lesson Title</h3>
                        <input type="text" name="title" placeholder="Enter unit title" required>
                    </div>
                    <div class="right-item">
                        <h3>Description</h3>
                        <textarea name="description" placeholder="Enter unit description" required></textarea>
                    </div>
                    <div class="right-item">
                        <h3>Due Date</h3>
                        <input type="date" name="due_date" required>
                    </div>
                    <div class="right-item ac-btn">
                        <button type="submit">Create</button>
                        <button class="cancel">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
        <img src="{% static 'rsc/icons8-close-50.png' %}" alt="" class="cancel-icon">
    </div>
</div>

    <div class="body">
        <div class="announcements-container">
            <div class="ann">
                <div class="heading ann-item">
                    <div class="head heading-item">
                        <p class="heading-name">
                            {{unit.title}}
                        </p>
                    </div>
                    <div class="add-search ann-item heading-item">
                        <div class="search as-item">
                            <input type="text" name="" id="" placeholder="search" class="search-item searchbar">
                            <img src="{% static 'rsc/icons8-search-50 (4).png' %}" alt="" class="search-icon search-item">
                        </div>
                        <div class="add as-item">
                            <button class="add-btn" id="add-course-btn"><p>Add</p></button>
                        </div>
                        <div>
                            <button class="add-btn"><p>Edit</p></button>
                        </div>
                    </div>
                </div>

                <div>
                    {% if has_released_lessons %}
                    <form method="POST" action="{% url 'teacher:unit-release' unit.id %}">
                        {% csrf_token %}
                    {% if unit.is_released %}
                    <button class="add-btn" type="submit"><p>Draft</p></button>
                    {% else %}
                    <button type="submit" class="add-btn"><p>Release</p></button>
                    {% endif %}
                    </form>
                    {% endif %}
                </div>
                <div class="tabs ann-item">
                    <div class="tab rel current">
                        <img src="{% static 'rsc/icons8-sent-50.png' %}" alt="" class="icon">
                        <p>Released</p>
                    </div>
                    <div class="tab dra not-current">
                        <img src="{% static 'rsc/icons8-draft-48.png' %}" alt="" class="icon">
                        <p>Drafts</p>
                    </div>
                </div>
                <div class="ann-item released-container">
                    {% for lesson in released_lessons %}
                    <div class="released">
                        <div class="ann-content">
                            <h3 class="ann-heading rd-item">{{ lesson.title }}</h3>
                            <p class="ann-para rd-item">{{ lesson.description }}</p>
                            <div class="ann-links-docs rd-item">
                                <div class="links">
                                    <img src="{% static 'rsc/icons8-link-24 (1).png' %}" alt="" class="icon">
                                    <p class="link-num">Links : {{ lesson.lessonlink_count }}</p>
                                </div>
                                <div class="docs">
                                    <img src="{% static 'rsc/icons8-documents-24.png' %}" alt="" class="icon">
                                    <p class="docs-num">Documents : {{ lesson.lessonfiles_count }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="ann-buttons">
                            <button class="view"><a href="{% url 'teacher:lesson-detail' course_id=course.id pk=lesson.pk %}">View</a></button>

                            <form method="POST" action="{% url 'teacher:lesson-delete' unit_id=unit.id pk=lesson.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="edit">Delete</button>
                            </form>
                        </div>
                    </div>
                    {% empty %}
                    No released lessons
                    {% endfor %}


                </div>
                <div class="ann-item drafts-container">
                    {% for lesson in draft_lessons %}
                    <div class="drafts">
                        <div class="ann-content">
                            <h3 class="ann-heading rd-item">{{ lesson.title }}</h3>
                            <p class="ann-para rd-item">{{ lesson.description }}</p>
                            <div class="ann-links-docs rd-item">
                                <div class="links">
                                    <img src="{% static 'rsc/icons8-link-24 (1).png' %}" alt="" class="icon">
                                    <p class="link-num">Links : {{ lesson.lessonlink_count }}</p>
                                </div>
                                <div class="docs">
                                    <img src="{% static 'rsc/icons8-documents-24.png' %}" alt="" class="icon">
                                    <p class="docs-num">Documents : {{ lesson.lessonfile_count }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="ann-buttons">
                            <button class="view"><a href="{% url 'teacher:lesson-detail' course_id=course.id pk=lesson.pk %}">View</a></button>
                            <form method="POST" action="{% url 'teacher:lesson-delete' unit_id=unit.id pk=lesson.pk %}">
                                {% csrf_token %}
                                <button type="submit" class="edit">Delete</button>
                            </form>
                        </div>
                    </div>
                    {% empty %}
                    No drafted lessons
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'scripts/add-course.js' %}"></script>
    <script src="{% static 'scripts/announcements-script.js' %}"></script>
    <script src="{% static 'scripts/coursearrow.js' %}"></script>

    {% endblock body %}
