{% extends 'teacher/course_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}lessondetail{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'styles/view-style.css'%}">
<link rel="stylesheet" href="{% static 'styles/add-popup.css'%}">
{% with exclude_parent_css=True %}
        {{ block.super }}
{% endwith %}
{% endblock css %}
{% block body %}

<div class="add-popup">
    <div class="popup">
        <div class="left">
            <div class="left-cont">
                <img src="{% static 'rsc/icons8-project-management-48.png'%}" alt="">
                <h3>managesnap</h3>
            </div>
        </div>
        <div class="right">
            <form method="post" action="{% url 'teacher:lesson-link-create' lesson_pk=lesson.pk %}">
                {% csrf_token %}

            <div class="right-cont">
                <h3 class="right-item">
                    Add Link
                </h3>
                <div class="right-item">
                    <input type="text" name="link" id="" placeholder="add link">
                </div>
                <div class="right-item ac-btn">
                    <button class="a" type="submit">Save</button>
                    <button class="cancel">Cancel</button>
                </div>
            </div>
            </form>

        </div>
        <img src="{% static 'rsc/icons8-close-50.png'%}" alt="" class="cancel-icon">
    </div>
</div>

<!--
<div class="add-file-popup">
    <div class="popup">
        <div class="left">
            <div class="left-cont">
                <img src="{% static 'rsc/icons8-project-management-48.png'%}" alt="">
                <h3>managesnap</h3>
            </div>
        </div>
        <div class="right">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
            <div class="right-cont">
                <div class="form-group right-item">
                    <label for="document">Add multiple files</label>
                    <input type="file" class="form-control" id="document" name="document" placeholder="Add Files" multiple>
                </div>
                <div class="right-item ac-btn">
                    <button class="a" type="submit">Save</button>
                    <button class="cancel">Cancel</button>
                </div>
            </div>
        </form>
        </div>
        <img src="{% static 'rsc/icons8-close-50.png'%}" alt="" class="cancel-icon">
    </div>
</div>  -->

<div class="edit-popup">
    <div class="popup">
        <div class="left">
            <div class="left-cont">
                <img src="{% static 'rsc/icons8-project-management-48.png'%}" alt="">
                <h3>managesnap</h3>
            </div>
        </div>
        <div class="right">
            <form method="post" action="{% url 'teacher:lesson-update' pk=lesson.pk %}">
                {% csrf_token %}
            <div class="right-cont">
                <div class="right-item">
                    <textarea name="title" id="" cols="58" rows="1" class="textarea first">{{lesson.title}}</textarea>
                </div>
                <div class="right-item">
                    <textarea name="description" id="" cols="58" rows="13" class="textarea second">{{lesson.description}}</textarea>
                </div>
                <div class="right-item ac-btn">
                    <button class="a" type="submit">Save</button>
                    <button class="cancel">Cancel</button>
                </div>
            </div>
        </form>

        </div>
        <img src="{% static 'rsc/icons8-close-50.png'%}" alt="" class="cancel-icon">
    </div>
</div>

    <div class="body">

        <div class="view-container">
            <div class="view">
                <div class="heading view-item">
                    <div class="head heading-item">
                        <p class="heading-name">
                            {{ lesson.title }}
                        </p>
                    </div>
                    <div class="release-edit heading-item">
                        <div class="release">

                            <form method="POST" action="{% url 'teacher:lesson-release' lesson.id %}">
                                {% csrf_token %}
                                {% if lesson.is_released %}
                                <button class="release-btn">
                                    <img src="{% static 'rsc/icons8-telegram-app-30.png'%}" alt="" class="icon">
                                    <p>Draft</p>
                                </button>
                                {% else %}
                                <button class="release-btn">
                                    <img src="{% static 'rsc/icons8-telegram-app-30.png'%}" alt="" class="icon">
                                    <p>Release</p>
                                </button>
                                {% endif %}
                        </form>
                        </div>
                        <div class="edit">
                            <button class="edit-btn">
                                <img src="{% static 'rsc/icons8-edit-26.png'%}" alt="" class="icon">
                                <p>Edit</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="announcement view-item">
                    <p>{{ lesson.description }}</p>
                </div>
                <div class="links view-item">
                    <div class="heading links-item">
                        <div class="head heading-item">
                            <p class="heading-name">
                                Links
                            </p>
                        </div>
                        <div class="add-item heading-item">
                            <div class="add">
                                <button class="add-btn">
                                    <p>Add +</p>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="links-item">
                        <ol class="links-list">
                        {% for link in lesson.links.all %}
                            <li class="link">
                                <span class="link-name"><a href="{{ link.link }}">{{ link.link }}</a></span>
                                <span><a href="{% url 'teacher:lesson-link-delete' link.pk %}"><img src="{% static 'rsc/icons8-trash-32 (1).png'%}" alt="" class="dustbin"></a></span>
                            </li>
                        {% endfor %}
                        </ol>
                    </div>
                </div>
                <div class="docs view-item">
                    <div class="heading docs-item">
                        <div class="head heading-item">
                            <p class="heading-name">
                                Files
                            </p>
                        </div>
                        <div class="add-item heading-item">
                            <div class="add">
                                <button class="add-btn">
                                    <p>Add +</p>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="docs-item">
                        <ol class="links-list">
                            {% for file in lesson.files.all %}
                            <li class="link">
                                <span class="link-name"><a href="{{ file.file.url }}">{{ file.file.name }}</a></span>
                                <span><a href=""><img src="{% static 'rsc/icons8-trash-32 (1).png'%}" alt="" class="dustbin"></a></span>
                            </li>
                            {% endfor %}
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'scripts/add-popup.js' %}"></script>
    <script src="{% static 'scripts/coursearrow.js' %}"></script>
    <script src="{% static 'scripts/update-lesson.js' %}"></script>
    <script src="{% static 'scripts/menu.js' %}"></script>
{% endblock body %}

