{% extends "base2.html" %}
{% load static %}

{% block content %}

        <div class="announcements-container">
            <div class="ann">
                <div style="display:flex">
                    <a href={% url 'usercourse' %}><button class="btn btn-link ">All Courses</button></a>
                    <a href={% url 'courseDetail' course.id %}><button class="btn btn-link ">{{course.title}}</button></a>
                    <a href={% url 'assignDetail' obj courseid %}><button class="btn btn-link ">{{obj}}</button></a>
                    
              </div>
                <div class="heading ann-item">
                    <div class="head heading-item">
                        <p class="heading-name">
                            {{obj}}
                        </p>
                    </div>
                    {% comment %} <div class="add-search ann-item heading-item">
                        <div class="search as-item">
                            <input type="text" name="" id="" placeholder="search" class="search-item searchbar">
                            <img src="rsc/icons8-search-50 (4).png" alt="" class="search-icon search-item">
                        </div>
                        <div class="add as-item">
                            <button class="add-btn"><p>Add</p></button>
                        </div>
                    </div> {% endcomment %}
                </div>
                <div class="tabs ann-item">
                    
                    <div class="tab dra not-current">
                        <img src="{% static "rsc/icons8-draft-48.png" %}" alt="" class="icon">
                        <p>Drafts</p>
                    </div>
                    <div class="tab rel current">
                        <img src="{% static "rsc/icons8-sent-50.png" %}" alt="" class="icon">
                        <p>Released</p>
                    </div>
                </div>
                
                <div class="ann-item drafts-container">
                    <div class="drafts">
                        <div class="ann-content">
                            <div class="m-4">
                                {% for courseunit in courseunits %}
                                
                                    {% if courseunit.name == obj %}
                                        <h2 class="mr-5">{{ courseunit.course }}</h2>
                                        <h5>{{courseunit.name}}</h5>
                                        <button class="btn btn-primary" data-toggle="modal" data-target="#assignmentmodal{{courseunit.id}}">Add {{courseunit.name}}</button>
                                        {% for assignment in courseunit.assignments.all %}
                                            {% if assignment.released == False %}
                                                <div style="display: flex;justify-content: space-between;" class="p-3">
                                                    <a href={% url 'assignment-detail' obj assignment.id courseid %}><button class="btn btn-link">{{assignment.title}}</button></a>
                                                    <a href={% url 'assignment-delete' assignment.id courseid %} ><button class="btn btn-danger">Delete {{courseunit.name}}</button></a>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                  
                                    
                                    {% if courseunit.is_assignment %}
                          
                          
                                      <!-- create assignment Modal -->
                                      <div class="modal fade" id="assignmentmodal{{courseunit.id}}" tabindex="-1" aria-labelledby="assignmentmodal{{courseunit.id}}" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="assignmentmodal{{courseunit.id}}title">Add {{ courseunit.name }}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form action={% url 'create-topic' obj %} method="post" enctype="multipart/form-data">{% csrf_token %}
                                                <div class="form-group">
                                                    <label for="title">Title</label>
                                                    <input type="text" class="form-control" id="title" name="title" placeholder="Enter title" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="document">Upload work</label>
                                                    <input type="file" class="form-control" id="document" name="document" placeholder="Upload file" multiple>
                                                </div>
                                                <div class="form-group">
                                                    <label for="deadline">Deadline</label>
                                                    <input type="datetime-local" class="form-control" id="deadline" name="deadline" placeholder="Submission Deadline" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="grades">Grades</label>
                                                    <input type="number" class="form-control" id="grades" name="grades" placeholder="Max grades" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="info">Info</label>
                                                    <input type="text" class="form-control" id="info" name="info" placeholder="Add Info if any" >
                                                </div>
                                                <div class="form-group">
                                                    <label for="link">Link</label>
                                                    <input type="url" class="form-control" id="link" name="link" placeholder="Paste work link if any">
                                                </div>
                                                <input type="hidden" value={{courseunit.id}} name="courseunitid" id="courseunitid">
                                                <button type="submit" class="btn btn-primary">Add</button>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          
                                            </div>
                                            </div>
                                        </div>
                                      </div>
                          
                                    
                                   
                                    {% endif %}
                          
                          
                                {% endfor %}
                          
                              
                            </div>
                          
                        </div>
                    </div>
                </div>
                <div class="ann-item released-container">
                    <div class="released">
                        <div class="ann-content">
                            <div class="m-4">
                                {% for courseunit in courseunits %}
                                
                                    {% if courseunit.name == obj %}
                                        <h2 class="mr-5">{{ courseunit.course }}</h2>
                                        <h5>{{courseunit.name}}</h5>
                                        {% comment %} <button class="btn btn-primary" data-toggle="modal" data-target="#assignmentmodal{{courseunit.id}}">Add {{courseunit.name}}</button> {% endcomment %}
                                        {% for assignment in courseunit.assignments.all %}
                                            {% if assignment.released == True%}
                                                <div style="display: flex;justify-content: space-between;" class="p-3">
                                                    <a href={% url 'assignment-detail' obj assignment.id courseid %}><button class="btn btn-link">{{assignment.title}}</button></a>
                                                    <a href={% url 'assignment-delete' assignment.id courseid %} ><button class="btn btn-danger">Delete {{courseunit.name}}</button></a>
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                  
                                    
                                    {% if courseunit.is_assignment %}
                          
                          
                                      <!-- create assignment Modal -->
                                      <div class="modal fade" id="assignmentmodal{{courseunit.id}}" tabindex="-1" aria-labelledby="assignmentmodal{{courseunit.id}}" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="assignmentmodal{{courseunit.id}}title">Add {{ courseunit.name }}</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form action={% url 'create-topic' obj %} method="post" enctype="multipart/form-data">{% csrf_token %}
                                                <div class="form-group">
                                                    <label for="title">Title</label>
                                                    <input type="text" class="form-control" id="title" name="title" placeholder="Enter title" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="document">Upload work</label>
                                                    <input type="file" class="form-control" id="document" name="document" placeholder="Upload file" multiple>
                                                </div>
                                                <div class="form-group">
                                                    <label for="deadline">Deadline</label>
                                                    <input type="datetime-local" class="form-control" id="deadline" name="deadline" placeholder="Submission Deadline" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="grades">Grades</label>
                                                    <input type="number" class="form-control" id="grades" name="grades" placeholder="Max grades" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="info">Info</label>
                                                    <input type="text" class="form-control" id="info" name="info" placeholder="Add Info if any" >
                                                </div>
                                                <div class="form-group">
                                                    <label for="link">Link</label>
                                                    <input type="url" class="form-control" id="link" name="link" placeholder="Paste work link if any">
                                                </div>
                                                <input type="hidden" value={{courseunit.id}} name="courseunitid" id="courseunitid">
                                                <button type="submit" class="btn btn-primary">Add</button>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          
                                            </div>
                                            </div>
                                        </div>
                                      </div>
                          
                                    
                                   
                                    {% endif %}
                          
                          
                                {% endfor %}
                          
                              
                            
                          
                            </div>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
</div>
{% endblock %}