{% extends "base2.html" %}
{% load static %}

{% block content %}
        <div class="view-container">
            <div class="view">
                <div style="display:flex">
                    <a href={% url 'usercourse' %}><button class="btn btn-link ">All Courses</button></a>
                    <a href={% url 'courseDetail' courseid %}><button class="btn btn-link ">{{course.title}}</button></a>
                    <a href={% url 'assignDetail' obj courseid %}><button class="btn btn-link ">{{obj}}</button></a>
                    <a href={% url 'assignment-detail' obj assignment.id courseid %}><button class="btn btn-link ">{{assignment.title}}</button></a>
                    
              </div>
                <div class="heading view-item">
                    <div class="head heading-item">
                        
                        <h2>{{assignment.title}}</h2>
                        <p class="badge badge-primary text-wrap">
                            Info
                        </p>
                        
                    
                        {% if assignment.info %}
                                <p>{{assignment.info}}</p>
                        {% endif %}
                        <a href={% url 'assignment-stats' assignment.id %}><button class="btn btn-outline-primary mb-3">See student stats</button> <br/></a>
                        
                        <p>Mode: 
                        {%if assignment.released %}
                            Released
                        {% else %}
                            Draft
                        {% endif %} <p/>
                        
                        <p>{{assignment.max_grades}} points</p>
                        <p>Created at: {{assignment.created_at}}</p>
                        <p>Deadline: {{assignment.deadline}}</p>
                    </div>
                    <div class="head heading-item">
                        <div class="add-item heading-item">
                            <div class="add">
                                <button class="add-btn" data-toggle="modal" data-target="#updatemodel">
                                    <p>Update</p>
                                </button>
                            </div>
                        </div>
                    </div>
                    {% if assignment.released == False %}
                    <div class="release-edit heading-item">
                        <div class="release">
                            <a href="{% url 'release-assignment' obj assignment.id courseid %}"> <button class="release-btn">   
                                <img src="{% static "rsc/icons8-telegram-app-30.png" %}" alt="" class="icon">
                                <p>Release</p>
                            </button></a>
                        </div>
                        {% comment %} <div class="edit">
                            <button class="edit-btn">
                                <img src="rsc/icons8-edit-26.png" alt="" class="icon">
                                <p>Edit</p>
                            </button>
                        </div> {% endcomment %}
                    </div>
                    {% endif %}
                </div>
                <div class="announcement view-item">
                    
                
                    <div class="links view-item">
                        <div class="heading links-item">
                            <div class="head heading-item">
                                <p class="heading-name">
                                    Links
                                </p>
                            </div>
                            <div class="add-item heading-item">
                                <div class="add">
                                    <button class="add-btn" data-toggle="modal" data-target="#addLink">
                                        <p>Add +</p>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="links-item">
                            <ol class="links-list">
                                {% if links %}
                                    {% for link in links %}
                                        <div style="display:flex">
                                            <p>Link {{forloop.counter}}:  <button class="btn btn-link">{{link}}</button></p>
                                            <a href={% url 'delete-link-assignment' assignment.id forloop.counter courseid %} ><button class="btn btn-danger mb-3 ml-2">delete link</button></a>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                                
                                
                            </ol>
                        </div>
                    </div>
                <div class="docs view-item">
                    <div class="heading docs-item">
                        <div class="head heading-item">
                            <p class="heading-name">
                                Files
                            </p>
                        </div>
                        <div class="add-item heading-item">
                            <div class="add">
                                <button class="add-btn" data-toggle="modal" data-target="#addFile">
                                    <p>Add +</p>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="docs-item">
                        <ol class="links-list">
                            {% if assignment.documents %}
                                    {% for document in assignment.documents.all %}
                                        <div style="display:flex">
                                            <p>File {{forloop.counter}}: <a href={{document.document.url}} target='_blank'><button class="btn btn-link">{{document.document.name|cut:'documents/'}}</button></a></p>
                                            <button data-toggle="modal" data-target="#renamefile{{document.id}}" class="btn btn-primary mb-3 ml-5">rename file</button>
                                            <a href={% url 'delete-assignment-file' document.id assignment.id courseid%} ><button class="btn btn-danger mb-3 ml-2">delete file</button></a>
                                        </div>
                                        
                                                    <!-- rename file modal  -->
                                        <div class="modal fade" id="renamefile{{document.id}}" tabindex="-1" aria-labelledby="renamefile{{document.id}}" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="renamefile{{document.id}}title">Rename file</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action={% url 'rename-file' %} method="post" enctype="multipart/form-data">{% csrf_token %}
                                                        <div class="form-group">
                                                            <label for="filename">File name</label>
                                                            <input type="text" value="{{document.document.name|cut:'documents/'}}" class="form-control" id="filename" name="filename" placeholder="rename File">
                                                        </div>
                                                        <input type="hidden" value={{document.id}} name="documentid" id="documentid">
                                                        <input type="hidden" value={{request.path}} name="next" id="next">
                                                        <button type="submit" class="btn btn-primary">Rename</button>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                                </div>
                                                </div>
                                            </div>
                                        </div>

                                    {% endfor %}
                                {% endif %}

                        </ol>
                    </div>
                
                    <h3 class="mt-5 mb-4">Submissions</h3>
                    <a href= {% url 'submitted' assignment.id %}><button class="btn btn-primary mb-4">Submitted</button></a>
                    <a href= {% url 'not-submitted' assignment.id %}><button class="btn btn-primary mx-2 mb-4">Not Submitted</button></a>
                    <a href= {% url 'graded' assignment.id %}><button class="btn btn-primary mx-2 mb-4">Graded</button></a>
                    <a href= {% url 'not-graded' assignment.id %}><button class="btn btn-primary mx-2 mb-4">Not Graded</button></a>
                
                    {% for submission in submissions %}

                        {% if submission.upload %}
                            <p>Submitted</p>
                            <div>
                                <p>By: {{submission.user.username}}</p>
                                <p>Submitted File is <a href={{submission.upload.url}}>here</a></p>
                                {% if submission.grades.is_graded %}

                                    <p>Graded: {{ submission.grades.grades }} out of {{ submission.assignment.max_grades }}</p>

                                {% else %}

                                    <button data-toggle="modal" data-target="#grades{{submission.id}}" class="btn btn-primary mb-5">Add grades</button>

                                {% endif %}

                            </div>
                            <p>Submitted at: {{submission.uploaded_at}}</p>

                                <!-- Add Grades Modal -->
                            <div class="modal fade" id="grades{{submission.id}}" tabindex="-1" aria-labelledby="grades{{submission.id}}" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="grades{{submission.id}}title">Add grades to {{ submission.user.username }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action={% url 'add-grades' %} method="post" enctype="multipart/form-data">{% csrf_token %}
                                            <div class="form-group">
                                                <label for="grades">Grades</label>
                                                <input type="number" class="form-control" id="grades" name="grades" placeholder="Add grades" required>
                                            </div>
                                            <div class="form-group">
                                                <label for="remark">Remark</label>
                                                <input type="text" class="form-control" id="remark" name="remark" placeholder="Give remark if any">
                                            </div>
                                            <input type="hidden" value={{submission.id}} name="assignmentid" id="assignmentid">
                                            <button type="submit" class="btn btn-primary">Grade</button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                    </div>
                                    </div>
                                </div>
                            </div>

                        {% endif %}

                    {% endfor %}


                </div>

                
           

<!-- update modal  -->
<div class="modal fade" id="updatemodel" tabindex="-1" aria-labelledby="addFile" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="addFiletitle">Add file</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action={% url 'edit-topic' courseid %} method="post" enctype="multipart/form-data">{% csrf_token %}
                <fieldset>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" value={{assignment.title}} class="form-control" id="title" name="title" placeholder="Enter title">
                    </div>
                    <div class="form-group">
                        <label for="max_grades">Max Grades</label>
                        <input type="number" value={{assignment.max_grades}} class="form-control" id="max_grades" name="max_grades" placeholder="Max grades">
                    </div>
                    <div class="form-group">
                        <label for="deadline">Deadline</label>
                        <input type="datetime-local" class="form-control" value="{{assignment.deadline|date:'Y-m-d'}}T{{assignment.deadline|time:'H:i'}}" id="deadline" name="deadline" placeholder="Submission Deadline" required>
                    </div>
                    <div class="form-group">
                        <label for="info">Info</label>
                        {% if assignment.info %}
                            <input type="text" value='{{assignment.info}}' class="form-control" id="info" name="info" placeholder="Add Info if any" >
                        {% else %}
                            <input type="text" class="form-control" id="info" name="info" placeholder="Add Info if any" >
                        {% endif %}
                        
                    </div>
                    <input type="hidden" value={{assignment.id}} name="assignmentid" id="assignmentid">
                    <input type="hidden" value='True' name="isassignment" id="isassignment">
                    <button type="submit" class="btn btn-primary">Edit</button>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
        </div>
    </div>
  </div>


<!-- add file modal  -->
<div class="modal fade" id="addFile" tabindex="-1" aria-labelledby="addFile" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="addFiletitle">Add file</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action={% url 'add-file' courseid %} method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="form-group">
                    <label for="document">Add multiple Files</label>
                    <input type="file" class="form-control" id="document" name="document" placeholder="Add Files" multiple>
                </div>
                <input type="hidden" value={{assignment.id}} name="assignmentid" id="assignmentid">
                <input type="hidden" value='True' name="isassignment" id="isassignment">
                <input type="hidden" value='True' name="islesson" id="islesson">
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
        </div>
    </div>
  </div>



  <!-- add link modal  -->
  <div class="modal fade" id="addLink" tabindex="-1" aria-labelledby="addLink" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="addLinktitle">Add Link</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action={% url 'add-link' courseid %} method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="form-group">
                    <label for="link">Link</label>
                    <input type="link" class="form-control" id="link" name="link" placeholder="Add Link">
                </div>
                <input type="hidden" value={{assignment.id}} name="assignmentid" id="assignmentid">
                <input type="hidden" value='True' name="isassignment" id="isassignment">
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

        </div>
        </div>
    </div>
  </div>

</div>
{% endblock %}