{% load static %}
<!DOCTYPE html>
{% load custom_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Detail Page</title>
    <link rel="stylesheet" href="{% static "styles/all.css"%}">
    <link rel="stylesheet" href="{% static "styles/course_detail_style.css"%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <header class="header">
        <div class="first-header">
            <div class="left-header">
                <div class="menu-toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>

                <img id="logo" src="{% static "images/logo.png" %}">
            </div>

            <div class="right-header">
                <div class="all-apps-container">
                    <div class="right-header-icons">
                        <img class="all-apps-icon icon" src="{% static "images/Apps.png" %}">
                    </div>
                </div>
    
                <div class="notification-container">
                    <div class="right-header-icons">
                        <img class="notify-icon icon" src="{% static "images/notification.png" %}">
                    </div>
                    <div class="dropdown">
                        <div class="notify_item">
                            <div class="notify_img">
                                <img src="{% static "images/User.png" %}" alt="profile_pic" style="width: 50px">
                            </div>
                            <div class="notify_info">
                                <p>You have submitted your assignment submission for<span>Assignment-1</span></p>
                                <button class="notify-btn">Explore All</button>
                            </div>
                            <div class="notify_time">
                                <p>2h</p>
                                <h1>...</h1>
                            </div>
                        </div>
                        <div class="notify_item">
                            <div class="notify_img">
                                <img src="{% static "images/User.png" %}" alt="profile_pic" style="width: 50px">
                            </div>
                            <div class="notify_info">
                                <p>You have submitted your assignment submission for<span>Assignment-1</span></p>
                                <button class="notify-btn">Explore All</button>
                            </div>
                            <div class="notify_time">
                                <p>2h</p>
                                <h1>...</h1>
                            </div>
                        </div>
                        <div class="notify_See_All">
                            <button class="see-All">See All Notifications</button>
                        </div>
                    </div>
                </div>
    
                <div class="profile-container">
                    <div class="right-header-icons">
                        <img class="profile-icon icon" src="{% static "images/User.png" %}">
                    </div>
                    <div class="dropdown-content">
                        <a href="#"><span><i class="fa-solid fa-gauge"></i>Dashboard</span></a>
                        <a href="#"><span><i class="fa-solid fa-table"></i>Grades</span></a>
                        <a href="#"><span><i class="fa-solid fa-comment"></i>Messages</span></a>
                        <a href="#"><span><i class="fa-solid fa-wrench"></i>Preferences</span></a>
                        <a href="#"><span><i class="fa-solid fa-arrow-right-from-bracket"></i>Logout</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="second-header">
            <nav class="nav-bar">
                <ul class="navigation">
                    <li><a href="#" class="first">Course Home</a></li>
                    <li><a href="{% url 'student_learning_page' courseid %}" target="_blank">Content</a></li>
                    <li><a href="{% url 'test-assign-page' courseid %}">Test & Assignments</a></li>
                    <li><a href="#">Communication</a></li>
                    <li><a href="#">Course Tools</a></li>
                    <li><a href="#">E - Library</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="content-container">
        <nav class="sidebar close">
            <header>
                <i class='bx bx-chevron-right toggle'></i>
            </header>

            <div class="menu-bar">
                <div class="menu">



                    <ul class="menu-links">
                        <li class="nav-link">
                            <a href="index.html">
                                <i class='bx bx-home-alt icon' ></i>
                                <span class="text nav-text">Dashboard</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="all_courses_page.html">
                                <i class='bx bx-bar-chart-alt-2 icon' ></i>
                                <span class="text nav-text">All courses</span>
                            </a>


                        </li>

                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bx-bell icon'></i>
                                <span class="text nav-text">Calender</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="notifications_page.html">
                                <i class='bx bx-pie-chart-alt icon' ></i>
                                <span class="text nav-text">Notifications</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bx-heart icon' ></i>
                                <span class="text nav-text">Your Files</span>
                            </a>
                        </li>

                        <li class="nav-link">
                            <a href="#">
                                <i class='bx bx-wallet icon' ></i>
                                <span class="text nav-text">Events</span>
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="bottom-content">
                    <li class="">
                        <a href="#">
                            <i class='bx bx-log-out icon' ></i>
                            <span class="text nav-text">Logout</span>
                        </a>
                    </li>

                    <li class="mode">
                        <div class="sun-moon">
                            <i class='bx bx-moon icon moon'></i>
                            <i class='bx bx-sun icon sun'></i>
                        </div>
                        <span class="mode-text text">Dark mode</span>

                        <div class="toggle-switch">
                            <span class="switch"></span>
                        </div>
                    </li>

                </div>
            </div>
        </nav>

        <section class="home">
            <div class="img-banner">
                <img src="{% static "images/logo.png" %}" alt="" srcset="">
            </div>

            <div class="main-content">
                <div class="top-content">
                    <div class="course-content-container part">
                        <button type="button" class="collapsible">Courses Content
                            <span><i class="fa-solid fa-angle-down"></i>
                                <i class="fa-solid fa-angle-up"></i></span>
                        </button>
                        <section class="content">
                            {% comment %} <div class="course-list">
                                {% for unit in units %}
                                <div class="course-card">
                                    <div class="row-1">
                                        <h2><a href="{% url 'stu-topic-detail' unit.id courseid %}" target="_blank" rel="noopener noreferrer">{{unit.coursetopic.title}}</a></h2>
                                        <a href={% url 'stu-topic-detail' courseTopic.id courseid %}><p style="display: inline;">{{courseTopic.coursetopic.title}}</p></a>
                                        
                                    </div>
                                    <div class="row-2">
                                        <div class="pro-bar">
                                            <div class="completed"></div>
                                        </div>
                                        {% if unit.done %}
                                            <a target="{% url 'topic-complete' unit.id %}" topicid="{{unit.id}}" class='doneBtn'><i style="color: black;font-size: 1.2rem;" class="doneIcon{{unit.id}} fas fa-check-square"></i></a>
                                        {% else %}
                                            <a target="{% url 'topic-complete' unit.id %}" topicid="{{unit.id}}" class='doneBtn'><i style="color: black;font-size: 1.2rem;" class="doneIcon{{unit.id}} fas fa-square"></i></a>
                                        {% endif %}
                                        <div class="details">
                                            <p><span class="prog-count">4</span>%</p>
                                            <p>1 of 28 Topics Completed</p>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}


                            </div> {% endcomment %}
                        </section>
                    </div>
                </div>

                <div class="bottom-content">
                    <div class="leftside-content">
                        <div class="Content-Navigator-container part">
                            <button type="button" class="collapsible">Content Navigator <span><i class="fa-solid fa-angle-down"></i>
                                <i class="fa-solid fa-angle-up"></i></span></button>
                            <div class="content">
                                <p>Last viewed - <a href="#">PDF - Complex Numbers</a></p>

                                <div class="topics-list">

                                    {% for unit in units%}
                                    {% comment %} <div class="row-1">
                                        <h3><a href="{% url 'stu-topic-detail' unit.id courseid %}" target="_blank" rel="noopener noreferrer">{{unit.coursetopic.title}}</a></h3>
                                        <a href={% url 'stu-topic-detail' courseTopic.id courseid %}><p style="display: inline;">{{courseTopic.coursetopic.title}}</p></a> 
                                        
                                    </div> {% endcomment %}
                                    <div class="topic-card">
                                        <h1><a href="{% url 'stu-topic-detail' unit.id courseid %}" target="_blank" rel="noopener noreferrer">Unit {{forloop.counter}} :{{unit.unit.title}}</a></h1>
                                        {% comment %} <h1>Unit {{forloop.counter}} :{{unit.coursetopic.title}}</h1> {% endcomment %}

                                        <div class="percent">
                                            <svg>
                                              <circle cx="30" cy="30" r="30"></circle>
                                              <circle cx="30" cy="30" r="30"></circle>
                                            </svg>
                                            <div class="num">
                                            <p>{{unit.id|get_unit_percentage:request.user.id }}%</p>
                                        
                                              {% comment %} <h2>87<span>%</span></h2> {% endcomment %}
                                            </div>
                                          </div>
                                    </div>
                                    {% endfor %}
                                    <hr>

                                    
                                </div>
                            </div>
                        </div>
                        
                        <div class="Activity-Feed-container part">
                            <button type="button" class="collapsible">Activity Feed1<span><i class="fa-solid fa-angle-down"></i>
                                <i class="fa-solid fa-angle-up"></i></span></button>
                            <div class="content">
                                <h1>Latest Posts</h1>
                                <div class="posts-list">
                                    <div class="post-card">
                                        <p>There's nothing here just yet.</p>
                                        <p>This is where you'll find assignments, announcements, lessons and other resourses. Check back soon!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="rightside-content">
                        <div class="Announcements-container part">
                            <button type="button" class="collapsible">Announcements<span><i class="fa-solid fa-angle-down"></i>
                                <i class="fa-solid fa-angle-up"></i></span></button>
                            <div class="content">
                                {% for assign in assignments %}
                                <div class="link">
                                    <div class="row">
                                        <div style="display: flex;justify-content: space-between;" class="p-3">
                                            <a href={% url 'stu-announce-detail' assign.coursetopic.id courseid %}><p style="display: inline;">{{assign.coursetopic.title}}</p></a>
                                           
                                       </div>
                                       
                                        {% comment %} <a href="#">{{assign.coursetopic.title}}</a> {% endcomment %}
                                        {% comment %} <i class="fa-solid fa-xmark"></i> {% endcomment %}
                                    </div>
                                    <p>{{assign.coursetopic.info}}</p>
                                    {% comment %} <a href="#">Exam Preparation Session</a> {% endcomment %}
                                </div>
                                <hr>
                                {% endfor %}
                                
                            </div>

                        <div class="calender-container part">
                            <button type="button" class="collapsible">Calender<span><i class="fa-solid fa-angle-down"></i>
                                <i class="fa-solid fa-angle-up"></i></span></button>
                            <div class="content">
                                <div class="btn-events">
                                    <button class="events">Friday, 1 July 2022 <span><i class="fa-solid fa-angle-right"></i></span></button>

                                    <button class="events">Upcoming Events <span><i class="fa-solid fa-angle-right"></i></span></button>
                                </div>
                            </div>
                        </div>

                        <div class="User-Links-container part">
                            <button type="button" class="collapsible">User Links <span><i class="fa-solid fa-angle-down"></i>
                                <i class="fa-solid fa-angle-up"></i></span></button>
                            <div class="content">
                                <div class="link">
                                    <p>No Items Found.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script>
        var donebtn = document.querySelectorAll(".doneBtn")
        donebtn.forEach(function(btn) {
            var url = btn.getAttribute('target');
            var topicid = btn.getAttribute('topicid');
            var doneIcon = document.querySelector(".doneIcon" + topicid);
            btn.addEventListener("click", function(){
                if(doneIcon.classList.contains('fa-check-square') == true){
                    doneIcon.classList.remove('fa-check-square');
                    doneIcon.classList.add('fa-square');
                }
                else if (doneIcon.classList.contains('fa-square') == true){
                    doneIcon.classList.remove('fa-square');
                    doneIcon.classList.add('fa-check-square');
                }
                fetch(url)
                .then(response => response.json())
            });
        });
      </script>
    <script src="{% static "js/app.js"%}"></script>
    <script src="{% static "js/course_detail.js"%}"></script>
</body>
</html>