<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% for document in documents %}
        {{document.file.url}}
        <p><img src="{{document.file.url}}" alt="" >
            
                <button class="edit"><a href="">Edit&nbsp;</a></button>
            
                <button class="delete"><a href="">Delete&nbsp;</a></button>
        </p>

        <button class="delete"><a href="">Add Documents&nbsp;</a></button>
        <br/>
    {% endfor %}

    
</body>
</html>