{% extends 'base1.html' %}
{% block content %}


  {% if request.user.is_authenticated %}

    <h3>Students in this group</h3>
    {% for student in group.students.all %}
      <div style="display: flex;" class="my-5" >
        <div class="col-md-4">
        <p class="mr-2">{{student.user}}</p>
        </div>
        {% if teacher == group.created_by %}
            <a href="/remove_student/{{group.id}}/{{student.id}}"><button class="btn btn-primary">Remove from this group</button></a>
        {% endif %}
      </div>
    {% endfor %}
    <br />

    {% if teacher == group.created_by %}
        <h3>Add more students</h3>
        {% for student in students_unenrolled %}
            <div style="display: flex;" class="my-5">
              <div class="col-md-4">
                <p class="mr-2">{{student.username}}</p>
              </div>
                <a href="/add_student/{{group.id}}/{{student.id}}"><button class="btn btn-primary">Add to this group</button></a>
            </div>
       {% endfor %}
    {% endif %}

  {% endif %}


{% endblock content %}