{%extends 'mainpages/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Signup{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'styles/newpages/login.css'%}">
{% endblock css %}
{% block gtag %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-YTXLDDT540"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-YTXLDDT540');
</script>
{% endblock gtag %}
{% block content %}
    <section id="login">
        <div class="login-form">

            <img src="https://cdni.iconscout.com/illustration/premium/thumb/sign-up-8694031-6983270.png" alt="">

            <form action="{% url 'register' %}" method="POST" class="needs-validation form-card" novalidate>
                {% csrf_token %}

                <h1>Kickstart your career</h1>
                <label>Username</label>
                <input type="text" placeholder="Only allowed alphanumerical" name="username"><br>

                <label>Email Address</label>
                <input type="email" placeholder="Enter your email" name="email"><br>

                <label>Password</label>
                <input type="password" placeholder="Enter new password" name="password"><br>
                <button>Submit Details</button><br>
                <span class="login-text-2">Already have account? <a href="{%url 'login' %}">Login here</a></span>

            </form>
        </div>
    </section>
{% endblock %}
