@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: Inter, sans-serif;
}

/* header {
  width: 100%;
  height: 60px;
  background-color: white;
  padding: 10px 20px;
  display: flex;
  top: 0;
  z-index: 200;
  position: sticky;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
}

@media only screen and (max-width: 836px) {
  .pc-nav {
    display: none;
  }
}

.hamburger {
  display: none;
  padding: 10px 15px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}

header .logo {
  font-size: 2rem;
  color: black;
}

header nav a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  margin-right: 40px;
}

header nav .header-btn {
  padding: 8px 30px;
  background-color: black;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
} */

/*  page-1  */
#page-1 {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  background-color: black;
  height: auto;
  padding: 0px 20px;
  padding-bottom: 40px;
}

.page-1-row {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

@media only screen and (max-width: 936px) {
  .page-1-row {
    flex-direction: column;
  }
  .page-1-col-2 {
    margin-top: 4rem;
  }
}

.page-1-col-1 {
  flex-basis: 50%;
}

.p1-t1 {
  font-size: 1.5rem;
  color: white;
  font-family: Inter;
  margin-bottom: 10px;
}
.p1-t2 {
  /* font-size: 4.5rem; */
  color: white;
  font-family: Inter;
  white-space: nowrap;
  text-decoration: underline;
  font-weight: bolder;
  margin-bottom: 40px;
}

.p1-t3 {
  font-family: Inter;
  color: white;
  /* font-size: 2rem; */
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .p1-t3 {
    white-space: nowrap;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
  }
}

.p1-t4 {
  font-family: Inter;
  color: white;
  /* font-size: 5rem; */
  font-weight: bolder;
  margin-bottom: 20px;
}

.page-1-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 340px;
}
.page-1-grp-1,
.page-1-grp-2 {
  color: white;
  font-size: 1rem;
}

.page-1-col-1-btn {
  padding: 10px 60px;
  background-color: white;
  border: none;
  border-radius: 5px;
  color: black;
  margin-top: 15px;
}

.page-1-col-2 {
  flex-basis: 38%;
  height: 550px;
  background-color: white;
  border: none;
  border-radius: 5px;
}

.page-1-form {
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 50px;
}

.form-text {
  font-family: Inter;
  font-size: 1.1rem;
  white-space: nowrap;
  margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
  .form-text {
    font-size: 0.75rem;
    font-weight: bold;
  }
}

.page-1-form label {
  font-family: Inter;
  font-size: 1rem;
  text-transform: capitalize;
  display: block;
  margin-bottom: 5px;
}

.page-1-form input {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
  height: 40px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 5px rgb(191, 191, 191);
}

.page-1-form select {
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 8px 10px;
  height: 40px;
  box-shadow: 0px 0px 5px rgb(191, 191, 191);
}

/*  page-2 */

#page-2 {
  width: 100%;
  margin: 0 auto;
  max-width: 1500px;
  /* height: 600px; */
  padding: 20px;
  background-color: white;
}

@media only screen and (max-width: 767px) {
  #page-2 {
    display: none;
  }
}

.page-2-text {
  font-family: Inter;
  font-size: 2.5rem;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  font-weight: bolder;
}

.page-2-flex {
  overflow: scroll;
  margin-top: 30px;
  display: flex;
  /* flex-wrap: nowrap; */
}

::-webkit-scrollbar {
  display: none;
}

.page-2-card1 {
  min-width: 800px;
  height: auto;
  padding: 20px;
  border: none;
  background-color: #f0f2ff;
  border-radius: 10px;
  margin-right: 30px;
}
.page-2-card2 {
  min-width: 800px;
  height: auto;
  padding: 20px;
  border: none;
  background-color: #fff7e3;
  border-radius: 10px;
  margin-right: 30px;
}
.page-2-card3 {
  min-width: 800px;
  height: auto;
  padding: 20px;
  border: none;
  background-color: #a4eba4;
  border-radius: 10px;
  margin-right: 30px;
}

.page-2-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  align-items: center;
}

.page-2-col-1 {
  flex-basis: 50%;
}

.page-2-col-2 {
  width: 300px;
  height: 300px;
}

.page-2-col-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-2-col-1 .p2-card-text {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 30px;
  color: rgb(0, 85, 255);
}

.page-2-col-1 p {
  color: rgb(0, 0, 0);
  font-size: 1rem;
}

@media only screen and (max-width: 833px) {
  .page-2-row {
    flex-direction: column;
    white-space: wrap;
    width: 100%;
  }
  .page-2-card1,
  .page-2-card2,
  .page-2-card3 {
    width: 100%;
    min-width: 350px;
  }
}
/*   page-3 */

#page-3 {
  width: 100%;
  margin: 0 auto;
  max-width: 1500px;
  height: auto;
  background-color: white;
  /* padding: 20px;
  padding-bottom: 40px; */
}

.page-3-text-1 {
  padding-top: 50px;
  font-size: 3rem;
  text-align: center;
  font-weight: 900;
}
.page-3-text-2 {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.page-3-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 600px);
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .page-3-grid {
    grid-template-columns: repeat(1, 600px);
  }
}

.page-3-item-text {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 60px;
}
.page-3-item-text h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: black;
}

.page-3-item ul {
  margin-left: 80px;
}
.page-3-item ul li {
  color: gray;
  font-size: 20px;
  padding-bottom: 10px;
}

.page-3-item {
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 30px;
}

/*  page-4 */

#page-4 {
  width: 100%;
  height: 300px;
  padding: 20px;
  background-color: white;
  max-width: 1500px;
  margin: 0 auto;
}

.page-4-text {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.page-4-flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgb(191, 191, 191);
  padding: 20px;
}

.page-4-card {
  display: flex;
}

.page-4-card img {
  width: 50px;
  height: 50px;
  /* margin-right: 10px; */
}

/* page-5 */

#page-5 {
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
  /* height: 500px; */
  padding: 20px;
  background-color: white;
}

.page-5-card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.page-5-grp-1 {
  flex: 0 0 auto;
  width: 33%;
}

.page-5-text {
  /* font-size: 60px; */
  color: black;
  font-weight: bolder;
}

.page-5-grp-1 p {
  color: gray;
  font-size: 20px;
  /* margin-top: 30px;
  margin-bottom: 30px; */
}

.page-5-btn {
  padding: 10px 30px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}

.page-5-grp-2 {
  flex: 0 0 auto;
  /* width: 60%; */
}

.page-5-grp-2 img {
  width: 100%;
  /* height: 400px; */
  object-fit: cover;
  border: 2px solid rgb(0, 0, 0);
}

@media only screen and (max-width: 900px) {
  .page-5-card {
    flex-direction: column;
    width: 100%;
  }
  .page-5-grp-1 {
    margin-bottom: 2rem;
    width: 100%;
  }
  .page-5-grp-2 {
    margin-bottom: 2rem;
    width: 100%;
  }
  .page-5 {
    padding: 2rem;
  }
}

/*   page-6 */

#page-6 {
  width: 100%;
  /* height: 540px; */
  padding: 40px 20px;
  background-color: black;
  margin: 0 auto;
  max-width: 1500px;
}

.page-6-flex {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20px;
}

@media only screen and (max-width: 861px) {
  .page-6-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.page-6-text {
  font-size: 2rem;
  color: white;
  margin-top: 20px;
    margin-bottom: 20px;
}

.page-6-card p {
  color: gray;
  font-size: 1.1rem;
}

/* page-7 */

#page-7 {
  width: 100%;
  height: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
}

.page-7-text {
  font-family: Inter;
  font-size: 2.3rem;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
  font-weight: 900;
}

.page-7-grid {
  display: grid;
  width: 100%;
  /* height: 100%; */
  grid-template-columns: repeat(3, 400px);
  gap: 20px;
  overflow: hidden;
  justify-content: center;
}

.page-7-grid-item {
  padding: 20px;
  background: linear-gradient(120deg, rgb(33, 33, 33), black);
  border: none;
  border-radius: 5px;
}

.page-7-grid-item:nth-child(even) {
  margin-top: 40px;
}

.page-7-grid-item:nth-child(odd) {
  margin-bottom: 10px;
}

.page-7-grid-text {
  font-size: 1.2rem;
  color: white;
  margin-bottom: 10px;
}
.page-7-author {
  color: gray;
  font-size: 1.2rem;
}
.page-7-grid-item img {
  width: 50px;
  height: 50px;
}

@media only screen and (max-width: 1024px) {
  /* .page-7-grid {
    grid-template-columns: repeat(1, 300px);
  } */
  #page-7 {
    display: none;
  }
}

/* page-8 */

#page-8 {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;
  /* height: 500px; */
}

.page-8-flex-1 {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}

@media only screen and (max-width: 583px) {
  .page-8-text {
    /* font-size: 1rem; */
    white-space: nowrap;
  }
}

.page-8-text {
  /* font-size: 2rem; */
  margin-bottom: 20px;
}

.page-8-flex-btn {
  /* padding: 10px 30px; */
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}

.page-8-flex-2 {
  width: 100%;
  display: flex;
  overflow: scroll;
  gap: 30px;
}

.page-8-card {
  min-width: 400px;
  height: auto;
  padding-bottom: 20px;
  border-radius: 5px;
}

.page-8-card-text {
  color: black;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

.page-8-card p {
  color: gray;
  font-size: 1rem;
  margin-bottom: 10px;
}

.page-8-card-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: black;
}

.page-8-card img {
  width: 100%;
  height: 200px;
}

/* footer */
/* footer {
  width: 100%;
  max-width: 1500px;
  height: auto;
  padding: 20px;
  margin: 0 auto;
  background-color: black;
}

.footer-row {
  padding-top: 30px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.f-col-1 {
  flex-basis: 25%;
  margin-bottom: 30px;
} */

/* .f-col-1 p {
  font-size: 1.1rem;
  color: gray;
  margin-bottom: 50px;
} */

/* .f-col-1 p {
  font-size: 1.1rem;
  color: gray;
  margin-bottom: 50px;
  word-break: break-word;
}

.f-icons {
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.f-icons a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

.f-col-2 div,
.f-col-3 div,
.f-col-4-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  margin-bottom: 10px;
}

.f-col-2 ul li,
.f-col-3 ul li {
  list-style: none;
  color: gray;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 900;
  margin-top: 10px;
}

.f-col-4-btn-1,
.f-col-4-btn-2 {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: white;
  color: black;
  margin-bottom: 10px;
}

.f-col-4 span {
  font-size: 1.1rem;
  color: white;
}

.f-col-3-text {
  font-size: 20px;
} */

/* Media queries for mobile devices */
/* @media (max-width: 768px) {
  .footer-row {
    flex-direction: column;
    align-items: center;
  }

  .f-col-1 {
    flex-basis: 100%;
    text-align: center;
  }

  .f-icons {
    margin-top: 30px;
  }

  .f-col-2 {
    flex-basis: 50%;
    text-align: center;
  }

  .f-col-3 {
    flex-basis: 50%;
    text-align: center;
    margin-top: 30px;
  }

  .f-col-3-text {
    margin-top: 20px;
  }

  .f-col-4 {
    flex-basis: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .f-col-4-btn-1,
  .f-col-4-btn-2 {
    width: 100%;
    margin-bottom: 20px;
  }
}

.f-text {
  color: gray;
  font-size: 5rem;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .f-text {
    font-size: 3rem;
  }
} */

@media (min-width: 768px){

.added {
    font-size: 3.75rem;
    line-height: 1;
}
}

.added{
    font-size: 5rem !important;
}