.body
{
    padding-left: 210px;
    padding-top: 70px;
}
/* Heading and view button */
.groups-container
{
    display: flex;
    justify-content: center;
}
.groups-item 
{
    margin: 20px 30px;
}
.heading-item
{
    padding: 15px 0px;
}
.heading
{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(30, 30, 30);
}
.heading-name
{
    font-weight: bold;
    font-size: 26px;
    letter-spacing: 1px;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(162, 88, 253) 0%, rgba(116,182,247,1) 90% );
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-bottom: 10px;
}
.view1
{
    display: flex;
    align-items: center;
    padding: 6px 12px;
    border-radius: 4px;
    border: none;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(162, 88, 253) 0%, rgba(116,182,247,1) 90% );
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.view1:hover 
{
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(116,182,247,1) 0% ,  rgb(162, 88, 253) 90%);
}
.view1-icon1
{
    width: 16px;
    height: 16px;
    margin-right: 5px;
}
/* Tabs */
.tabs1
{
    display: flex;
    align-items: center;
}
.tab1
{
    padding: 10px 20px;
    margin-right: 50px;
    border-bottom: 3px solid transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.icon1
{
    width: 18px;
    height: 18px;
}
.tab p
{
    padding: 6px 12px;
    border-radius: 5px;
    font-size: 16px;
    color: rgb(30, 30, 30);
}
.not-current1
{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(162, 88, 253) 0%, rgba(116,182,247,1) 90% );
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease;
}
.not-current1:hover
{
    background-size: 100% 3px;
}
.current1
{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(162, 88, 253) 0%, rgba(116,182,247,1) 90% );
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease;
    font-weight: bold;
}
/* Table view */
.table-item 
{
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
table
{
    border-collapse: collapse;
    width: 1200px;
}
tr
{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(162, 88, 253) 0%, rgba(116,182,247,1) 90% );
}
th, td
{
    text-align: center;
    padding: 10px 40px;
    font-size: 14px;
}
th
{
    padding: 20px 40px;
    color: white;
}
td
{
    color: rgb(30, 30, 30);
    background-color: rgb(246, 246, 246);
    border: 1px solid rgb(224, 220, 220);
}
th:nth-child(1)
{
    width: 200px;
}
th:nth-child(2)
{
    width: 600px;
}
th:nth-child(3)
{
    width: 200px;
}
th:nth-child(4)
{
    width: 200px;
}
th:nth-child(5)
{
    width: 100px;
}
.view-btn 
{
    padding: 4px 8px;
    border: none;
    background-color: rgb(246, 246, 246);
}
.view-btn a
{
    color: rgb(30, 30, 30);
    text-decoration: none;
    font-style: italic;
    background-color: rgb(246, 246, 246);
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(162, 88, 253) 0%, rgba(116,182,247,1) 90% );
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease;
}
.view-btn a:hover
{
    background-size: 100% 2px;
}
.page-num
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.page-num p
{
    padding: 2px 8px;
    margin: 3px;
    font-size: 14px;
}
.bracket 
{
    font-weight: bolder;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(162, 88, 253) 0%, rgba(116,182,247,1) 90% );
    color: white;
    border-radius: 3px;
}
.page-num p:nth-child(2)
{
    font-weight: bold;
}
.public-table, .private-table
{
    display: none;
}
/* Tab view */
.tab-item 
{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 100px;
    row-gap: 30px;
    margin: 50px 0px;
    justify-content: center;
}
.tab-item .t 
{
    width: 230px;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgb(162, 88, 253) 0%, rgba(116,182,247,1) 90% );
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.tab-item .t:hover 
{
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(116,182,247,1) 0% ,  rgb(162, 88, 253) 90%);
}
.default-tab, .private-tab, .public-tab
{
    display: none;
}
/* Media queries */
/* Media queries */
@media(max-width: 1500px)
{
    table 
    {
        width: 1050px;
    }
    th, td 
    {
        padding: 10px 30px;
    }
    .tab-item
    {
        grid-template-columns: auto auto auto;
    }
}
@media(max-width: 1350px)
{
    table 
    {
        width: 900px;
    }
    td 
    {
        padding: 10px 10px;
    }
    th 
    {
        padding: 20px 10px;
    }
}
@media(max-width: 1150px)
{
    table 
    {
        width: 700px;
    }
    .tab-item
    {
        grid-template-columns: auto auto;
    }
}
@media(max-width: 1024px)
{
    .body
    {
        padding-left: 0px;
    }
    table 
    {
        width: 700px;
    }
    .tab-item 
    {
        grid-template-columns: auto auto auto auto;
        column-gap: 50px;
        row-gap: 30px;
        margin: 50px 0px;
    }
    .tab-item .t 
    {
        width: 120px;
    }
}
@media(max-width: 768px)
{
    table 
    {
        width: 500px;
    }
    .invisible1
    {
        display: none;
    }
    .heading 
    {
        flex-direction: column;
        align-items: centers;
    }
    .tab p
    {
        display: none;
    } 
    .tab-item 
    {
        grid-template-columns: auto auto;
    }
}
@media(max-width: 582px)
{
    table 
    {
        width: 400px;
    }
    .groups-item 
    {   
        margin: 10px;
    }

}
@media(max-width: 420px)
{
    table 
    {
        width: 100%;
    }
    td 
    {
        padding: 5px;
    }
    .tab 
    {
        padding: 10px;
    }

}
