<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous"> 
     {% block css %}{% endblock css %}
     <link rel="stylesheet" href="{% static "styles/view-style.css"%}">
    
     <link rel="stylesheet" href="{% static "styles/style.css" %}">
    <link rel="stylesheet" href="{% static "styles/students-style.css" %}">
    <link rel="stylesheet" href="styles/students-style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="rsc/icons8-project-management-48.png">
    <link rel="stylesheet" href="{% static "styles/courses-style.css"%}">
    <link rel="stylesheet" href="{% static "styles/add-popup.css"%}">
    <link rel="stylesheet" href="{% static "styles/profile-style.css"%}">
    
    <link rel="stylesheet" href="{% static "css/w3.css"%}">
    <link rel="icon" type="image/x-icon" href="rsc/icons8-project-management-48.png">
    <title>Courses</title>
</head>

<body>
    <div class="add-course">
        <div class="popup">
            <div class="left">
                <div class="left-cont">
                    <img src="{% static "rsc/icons8-project-management-48.png"%}" alt="">
                    <h3>managessnap</h3>
                </div>
            </div>
            <div class="right">
                <div class="right-cont">
                    <form action={% url 'create-course' %} method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="right-item">
                            <h3>
                                Course Title
                            </h3>
                            <input type="text" name="title" id="" method="POST" placeholder="enter course title">
                        </div>
                        <div class="right-item">
                            <input type="text" name="category" id="" placeholder="course category">
                            
                            <label for="img">Select image:</label>
                            <input type="file" id="img" name="image" accept="image/*">
                            
                            
                        </div>
                        <div class="right-item ac-btn">
                            <button class="a" type="submit" >Upload</button>
                            <button class="cancel">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
            <img src="{% static "rsc/icons8-close-50.png"%}" alt="" class="cancel-icon">
        </div>
    </div>
    
    <div class="notification-list-container noti-notdisplay">
        <div class="notification-list">
            <div class="notification-heading">
                <h3>Notifications</h3>
                <img src="{% static "rsc/icons8-expand-50.png"%}" alt="" class="expand">
            </div>
            <div class="notifications">
                <div class="notification">
                    <div class="noti-details">
                        <div class="noti-image">
                            <img src="{% static "rsc/paul-castanie-WZB_ZOqR4dA-unsplash.jpg"%}" alt="">
                        </div>
                        <div class="noti-detail">
                            <p class="det">Paul updated the syllabus for Python</p>
                            <p class="time">5 min ago</p>
                        </div>
                    </div>
                </div>
                <div class="notification">
                    <div class="noti-details">
                        <div class="noti-image">
                            <img src="{% static "rsc/joshua-earle-ICE__bo2Vws-unsplash.jpg"%}" alt="">
                        </div>
                        <div class="noti-detail">
                            <p class="det">Josh assigned a test for you</p>
                            <p class="time">2 days ago</p>
                        </div>
                    </div>
                </div>
                <div class="notification">
                    <div class="noti-details">
                        <div class="noti-image">
                            <img src="{% static "rsc/radu-florin-4_QFycgpC4c-unsplash.jpg"%}" alt="">
                        </div>
                        <div class="noti-detail">
                            <p class="det">Jim added you to python classroom</p>
                            <p class="time">10 days ago</p>
                        </div>
                    </div>
                </div>
            </div>
            <p class="mark">Mark all as read</p>
        </div>
    </div>
    <div class="profile-container prof-notdisplay">
        <div class="profile">
            <div class="user-info profile-item">
                <div class="user-image">
                    {% if request.user.profile.profile_pic %}
                    <img src="{{request.user.profile.profile_pic.url}}" alt="">
                    {% else %}
                    <img src="#" alt="profilepic">
                    {% endif %}
                </div>
                <div class="user-details">
                    <p class="user-fullname">{{request.user.username}}</p>
                    <p class="user-name">@{{request.user.username}}</p>
                </div>
            </div>
            <div class="settings profile-item">
                <img src="{% static "rsc/icons8-settings-48.png"%}" alt="">
                <p>Account Settings</p>
            </div>
            <div class="logout profile-item">
                <img src="{% static "rsc/icons8-logout-48.png"%}" alt="">
                <p> <a href="/logout"><button class="btn btn-link"> Logouts</button></p>
            </div>
        </div>
    </div>
    <div class="side-panel-container">
        <div class="side-panel">
            <div class="panel-item logo-item">
                <div class="logo">
                    <img src="{% static "rsc/icons8-project-management-48.png"%}" alt="" class="logo-image">
                    <p class="logo-name">managessnap</p>
                </div>
                <img src="{% static "rsc/icons8-close-30 (1).png"%}" alt="" id="close">
            </div>
            <div class="dashboard panel-item">
                <img src="{% static "rsc/icons8-dashboard-layout-48.png"%}" alt="" class="item">
                <p class="name"><a href="dashboard.html">Dashboard</a></p>
            </div>
            <div class="courses panel-item">
                <img src="{% static "rsc/icons8-e-learning-48.png"%}" alt="" class="item">
                <p class="name"><a href="{% url 'usercourse' %}">Courses</a></p>
            </div>
            <div class="requests panel-item">
                <img src="{% static "rsc/icons8-request-service-48.png"%}" alt="" class="item">
                <p class="name"><a href="requests.html">Requests</a></p>
            </div>
            <div class="groups panel-item">
                <img src="{% static "rsc/icons8-user-groups-48.png"%}" alt="" class="item">
                <p class="name"><a href="{% url 'groups' %}">Groups</a></p>
            </div>
            <div class="course-details panel-item">
                <div class="panel-heading">
                    <h3>Course Details</h3>
                    <img src="{% static "rsc/icons8-chevron-down-30.png"%}" alt="" class="down" id="arrow">
                </div>
                <div class="details">
                    {% comment %} <div class="detail announcements">
                        <img src="{% static "rsc/icons8-commercial-48.png"%}" alt="" class="item">
                        <p class="name"><a href="{% url 'announceDetail' 'Announcement' %}">Announcements</a></p>
                    </div>
                    <div class="detail timetable">
                        <img src="{% static "rsc/icons8-calendar-48.png"%}" alt="" class="item">
                        <p class="name"><a href="{% url 'announceDetail' 'Timetable' %}">Timetable</a></p>
                    </div>
                    <div class="detail syllabus">
                        <img src="{% static "rsc/icons8-google-classroom-48.png"%}" alt="" class="item">
                        <p class="name"><a href="{% url 'announceDetail' 'Syllabus' %}">Syllabus</a></p>
                    </div>
                    <div class="detail assignment">
                        <img src="{% static "rsc/icons8-audit-48.png"%}" alt="" class="item">
                        <p class="name"><a href="{% url 'assignDetail' 'Assignment' %}">Assignment</a></p>
                    </div>
                    <div class="detail caesum">
                        <img src="{% static "rsc/icons8-read-online-48.png"%}" alt="" class="item">
                        <p class="name"><a href="{% url 'assignDetail' 'Caes' %}">Caesum</a></p>
                    </div>
                    <div class="detail exams">
                        <img src="{% static "rsc/icons8-hand-with-pen-48.png"%}" alt="" class="item">
                        <p class="name"><a href="">Exams</a></p>
                    </div>
                    <div class="detail quiz">
                        <img src="{% static "rsc/icons8-help-48.png"%}" alt="" class="item">
                        <p class="name"><a href="{% url 'assignDetail' 'Quiz' %}">Quiz</a></p>
                    </div>
                    <div class="detail units">
                        <img src="{% static "rsc/icons8-unit-48.png"%}" alt="" class="item">
                        <p class="name"><a href="{% url 'announceDetail' 'Unit' %}">Units</a></p>
                    </div> {% endcomment %}
                </div>
            </div>
            <div class="panel-item support">
                <button>
                    <img src="{% static "rsc/icons8-support-60.png"%}" alt="">
                    <p>Get Support</p>
                </button>
            </div>
        </div>
    </div>
    <div class="navigation">
        <div class="navi">
            <div class="nav-logo">
                <img src="{% static "rsc/icons8-menu-50.png"%}" alt="" id="menu" class="nav-logo-item">
                <img src="{% static "rsc/icons8-project-management-48.png"%}" alt=""
                    class="nav-logo-item nav-logo-image">
                <p class="nav-logo-item nav-logo-text">managesnap</p>
            </div>
            <div class="nav-rest">
                <div class="nav-item">
                    <img src="{% static "rsc/icons8-notification-48 (1).png"%}" alt="" class="noti-icon">
                </div>
                <div class="profile-image nav-item">
                    {% if request.user.profile.profile_pic %}
                    <img src="{{request.user.profile.profile_pic.url}}" alt="" class="image">
                    {% else %}
                    <img src="#" alt="profilepic" class="image">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    
    <div class="body">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          <strong>Message!-</strong> {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        {% block content %}{% endblock content %}

    </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
        {% comment %} {% block js %}{% endblock js %} {% endcomment %}
        <script src="{% static "scripts/script.js"%}"></script>
        <script src="{% static "scripts/add-course.js"%}"></script>
        <script src="{% static "scripts/groups-script.js"%}"></script>
        <script src="{% static "scripts/profile-script.js"%}"></script>
        <script src="{% static "scripts/announcements-script.js"%}"></script>
        <script src="{% static "scripts/students-script.js"%}"></script>
        <script src="{% static "scripts/script.js" %}"></script>
        <script src="{% static "scripts/students-script.js" %}"></script>
    </body>
    
    </html>