{% extends 'base.html' %}
{% load custom_tags %}
{% block content %}
  {% if request.user.is_authenticated %}
    {% for course in courses %}
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src={{course.image.url}} alt="Card image cap">
        <div class="card-body">
          <p class="card-text">{{course.category}}</p>
          <h5 class="card-title">{{course.title}}</h5><br />
          <a href={% url 'enroll' course.id %} style="color: red;font-weight: bold;">Enroll course</a>
        </div>
      </div>
    {% endfor %}
    {% for ex in excluded %}
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src={{ex.image.url}} alt="Card image cap">
        <div class="card-body">
          <p class="card-text">{{ex.category}}</p>
          <h5 class="card-title">{{ex.title}}</h5><br />
          <a href={% url 'usercourse' %} style="color: red;font-weight: bold;">Go to course</a>
        </div>
      </div>
    {% endfor %}
  {% else %}
    {% for course in courses %}
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src={{course.image.url}} alt="Card image cap">
        <div class="card-body">
          <p class="card-text">{{course.category}}</p>
          <h5 class="card-title">{{course.title}}</h5><br />
          <p>login or signup to enroll</p>
        </div>
      </div>
    {% endfor %} 
  {% endif %}
{% endblock content %}