{%extends 'header.html' %}
{% load static %}
{% block css %}
<link href="{% static 'styles/mainpages/login1.css' %}" rel="stylesheet">
{% endblock css %}
{% block content %}
    <section id="login">
        {% include 'messages.html' %}
        <h1 class="login-text">
            Sign in to Unstarted
        </h1>
        <div class="login-card">
            <form class="form-card"  action="{% url 'login' %}" method="POST" novalidate>
                {% csrf_token %}

                <label>Email address/Username</label><br>
                <input type="text" name="username"><br>

                <label>Password</label><br>
                <input type="password" name="password"><br>

                <div class="form-flex">
                    <div class="form-flex-col-2">
                        <a href="#">Forgot Your Password?</a>
                    </div>
                </div>
                <button type="submit" class="login-btn" style="background-color:black;">Sign in</button><br>
                <!--
                <span class="login-text-1">Or continue with</span><br>
                <div class="login-icons">
                    <a href="#"><i class="bi bi-google"></i></a>
                    <a href="#"><i class="bi bi-github"></i></a>
                </div>-->
                <span class="login-text-2">Don't have account? <a href="{%url 'register' %}">create Account</a></span>
            </form>
        </div>
    </section>

{% endblock %}
{% block js %}
<script src="{% static "styles/mainpages/index.js"%}"></script>
{% endblock js %}