<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
     <link rel="stylesheet" href="{% static "styles/view-style.css"%}">
    <link rel="stylesheet" href="{% static "styles/style.css"%}">
   <link rel="stylesheet" href="{% static "styles/announcements-style.css"%}">
    <link rel="stylesheet" href="{% static "styles/groups-style.css" %}">
    <link rel="stylesheet" href="{% static "styles/courses-style.css"%}">
    <link rel="stylesheet" href="{% static "styles/add-popup.css"%}">
    <link rel="stylesheet" href="{% static "styles/profile-style.css"%}">
    <link rel="stylesheet" href="{% static "css/w3.css"%}">

    <link rel="icon" type="image/x-icon" href="rsc/icons8-project-management-48.png">
    <title>Courses</title>
</head>

<body>
   

    <div class="notification-list-container noti-notdisplay">
        <div class="notification-list">
            <div class="notification-heading">
                <h3>Notifications</h3>
                <img src="{% static "rsc/icons8-expand-50.png"%}" alt="" class="expand">
            </div>
            <div class="notifications">
                <div class="notification">
                    <div class="noti-details">
                        <div class="noti-image">
                            <img src="{% static "rsc/paul-castanie-WZB_ZOqR4dA-unsplash.jpg"%}" alt="">
                        </div>
                        <div class="noti-detail">
                            <p class="det">Paul updated the syllabus for Python</p>
                            <p class="time">5 min ago</p>
                        </div>
                    </div>
                </div>
                <div class="notification">
                    <div class="noti-details">
                        <div class="noti-image">
                            <img src="{% static "rsc/joshua-earle-ICE__bo2Vws-unsplash.jpg"%}" alt="">
                        </div>
                        <div class="noti-detail">
                            <p class="det">Josh assigned a test for you</p>
                            <p class="time">2 days ago</p>
                        </div>
                    </div>
                </div>
                <div class="notification">
                    <div class="noti-details">
                        <div class="noti-image">
                            <img src="{% static "rsc/radu-florin-4_QFycgpC4c-unsplash.jpg"%}" alt="">
                        </div>
                        <div class="noti-detail">
                            <p class="det">Jim added you to python classroom</p>
                            <p class="time">10 days ago</p>
                        </div>
                    </div>
                </div>
            </div>
            <p class="mark">Mark all as read</p>
        </div>
    </div>
    <div class="profile-container prof-notdisplay">
        <div class="profile">
            <div class="user-info profile-item">
                {% if reqest.user.profile.profile_pic %}
                <div class="user-image">
                    <img src="{{request.user.profile.profile_pic.url}}" alt="">
                </div>
                {% endif %}
                <div class="user-details">
                    <p class="user-fullname">{{request.user.username}}</p>
                    <p class="user-name">@{{request.user.username}}</p>
                </div>
            </div>
            <div class="settings profile-item">
                <img src="{% static "rsc/icons8-settings-48.png"%}" alt="">
                <p>Account Settings</p>
            </div>
            <div class="logout profile-item">
                <img src="{% static "rsc/icons8-logout-48.png"%}" alt="">
                <p> <a href="/logout"><button class="btn btn-link"> Logouts</button></p>
            </div>
        </div>
    </div>
    <div class="side-panel-container">
        <div class="side-panel">
            <div class="panel-item logo-item">
                <div class="logo">
                    <img src="{% static "rsc/icons8-project-management-48.png"%}" alt="" class="logo-image">
                    <p class="logo-name">managessnap</p>
                </div>
                <img src="{% static "rsc/icons8-close-30 (1).png"%}" alt="" id="close">
            </div>
            <div class="dashboard panel-item">
                <img src="{% static "rsc/icons8-dashboard-layout-48.png"%}" alt="" class="item">
                <p class="name"><a href="{% url "home" %}">Dashboard</a></p>
            </div>

            <div class="requests panel-item">
                <img src="{% static "rsc/icons8-request-service-48.png"%}" alt="" class="item">
                <p class="name"><a href="#" >Semester</a></p>
            </div>

            <div class="course-details panel-item">
                <div class="panel-heading">
                    <h3>Course Details</h3>
                    <img src="{% static "rsc/icons8-chevron-down-30.png"%}" alt="" class="down" id="arrow">
                </div>
                <div class="details">

                    <div class="detail announcements">
                        <img src="{% static "rsc/icons8-commercial-48.png"%}" alt="" class="item">
                        <p class="name"><a href="{% url 'announceDetail' 'Announcement' 'manager' %}">Announcements</a></p>
                    </div>

                </div>
                <div class="detail announcements">
                    <img src="{% static "rsc/icons8-commercial-48.png" %}" alt="" class="item">
                    <p class="name current"><a href="{% url "manager_noti" %}">Notifications</a></p>
                </div>

                <div class="detail announcements">
                    <img src="{% static "rsc/icons8-commercial-48.png" %}" alt="" class="item">
                    <p class="name"><a href="{% url "manager_event" %}">Events</a></p>
                </div>

                <div class="detail announcements">
                    <img src="{% static "rsc/icons8-commercial-48.png" %}" alt="" class="item">
                    <p class="name"><a href="{% url "manager_noti" %}">News</a></p>
                </div>

                <div class="detail announcements">
                    <img src="{% static "rsc/icons8-commercial-48.png" %}" alt="" class="item">
                    <p class="name"><a href="{% url "teacher_profile" %}">Teacher Profile</a></p>
                </div>
            </div>
            <div class="panel-item support">
                <button>
                    <img src="{% static "rsc/icons8-support-60.png"%}" alt="">
                    <p>Get Support</p>
                </button>
            </div>
        </div>
    </div>
    <div class="navigation">
        <div class="navi">
            <div class="nav-logo">
                <img src="{% static "rsc/icons8-menu-50.png"%}" alt="" id="menu" class="nav-logo-item">
                <img src="{% static "rsc/icons8-project-management-48.png"%}" alt=""
                    class="nav-logo-item nav-logo-image">
                <p class="nav-logo-item nav-logo-text">managesnap</p>
            </div>
            <div class="nav-rest">
                <div class="nav-item">
                    <img src="{% static "rsc/icons8-notification-48 (1).png"%}" alt="" class="noti-icon">
                </div>
                {% if reqest.user.profile.profile_pic %}
                <div class="profile-image nav-item">
                    <img src="{{request.user.profile.profile_pic.url}}" alt="" class="image">
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="body">

        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
          <strong>Message!-</strong> {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/" style="color:initial">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Notifications</li>
            </ol>
          </nav>

        <div class="announcements-container">
           

            <div class="ann">
               
                <div class="heading ann-item">
                    <div class="head heading-item">
                        <p class="heading-name">
                            Welcome Managers
                        </p>
                    </div>
                </div>
                <div class="px-5 py-3">
                    <form class="my-class" method="post">
                        {% csrf_token %}
                        {{ not_form|crispy }}
                        <input type="hidden" value="True" name="noti" id="noti">
                        <br/>
                        <button class="btn btn-info" type="submit">Post</button>
                    </form>
                
                    {% for noti in notifications  %}
                    <div class="h-100 d-flex align-items-center justify-content-center">
                     <h4>{{noti.notification}}</h4>
                    </div>
                    <div class="row justify-content-center">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                           update
                          </button>
                         &nbsp;&nbsp;
                        <button type="button" class="btn btn-danger" ><a href="{% url 'del_noti-news' "notification" noti.id %}" >Delete</a></button>
                
                          <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form method = "POST", action="{% url 'noti-news' "notification" %}" >
                
                                        {% csrf_token %}
                                        {{ not_form|crispy }}
                                        <input  type="hidden" value= {{noti.id}} name="id" id="id">
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </form>
                                    </div>
                
                                </div>
                                </div>
                            </div>
                        </div>
                
                
                
                
                    {% endfor %}
                
                    <hr/>
                    <br/>
                    <form class="my-class" method="post">
                        {% csrf_token %}
                        {{ news_form|crispy }}
                        <input  type="hidden" value="False" name="noti" id="noti">
                        <br/>
                        <button class="btn btn-info" type="submit">Post</button>
                    </form>
                
                    {% for n in news  %}
                    <div class="h-100 d-flex align-items-center justify-content-center">
                        <h4>{{n.news}}</h4>
                    </div>
                <div class="row justify-content-center">
                     <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">update</button>
                    &nbsp;&nbsp;
                    <button type="button" class="btn btn-danger" ><a href="{% url 'del_noti-news' "news" n.id %}" >Delete</a></button>
                
                            <!-- Modal -->
                         <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                             <div class="modal-dialog">
                             <div class="modal-content">
                                 <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                 </div>
                                 <div class="modal-body">
                                     <form method = "POST", action="{% url 'noti-news' "news"  %}" >
                
                                        {% csrf_token %}
                                        {{ news_form|crispy }}
                                        <input  type="hidden" value={{n.id}} name="id" id="id">
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                         </div>
                                     </form>
                                 </div>
                
                             </div>
                             </div>
                        </div>
                    </div>
                
                
                    {% endfor %}
                    <hr/>
                    <br/>
                
                
                    <form class="my-class" method="post">
                        {% csrf_token %}
                        {{ event_form|crispy }}
                        <input  type="hidden" value="True" name="events" id="events">
                        <br/>
                        <button class="btn btn-info" type="submit">Post</button>
                    </form>
                
                    {% for j in events  %}
                    <div class="h-100 d-flex align-items-center justify-content-center">
                        <h4>{{j.event}}</h4>
                    </div>
                <div class="row justify-content-center">
                     <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#eventmodel">update</button>
                     &nbsp;&nbsp;
                    <button type="button" class="btn btn-danger" ><a href="{% url 'del_noti-news' "events" j.id %}" >Delete</a></button>
                
                            <!-- Modal -->
                         <div class="modal fade" id="eventmodel" tabindex="-1" aria-labelledby="eventmodel" aria-hidden="true">
                             <div class="modal-dialog">
                             <div class="modal-content">
                                 <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                 </div>
                                 <div class="modal-body">
                                     <form method = "POST", action="{% url 'noti-news' "events" %}" >
                
                                        {% csrf_token %}
                                        {{ event_form|crispy }}
                                        <input  type="hidden" value={{j.id}} name="id" id="id">
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save changes</button>
                                         </div>
                                     </form>
                                 </div>
                
                             </div>
                             </div>
                        </div>
                    </div>
                
                
                    {% endfor %}

                </div> 

               

            </div>
        </div>


    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
<script src="{% static "scripts/script.js"%}"></script>
<script src="{% static "scripts/add-course.js"%}"></script>
<script src="{% static "scripts/groups-script.js"%}"></script>
<script src="{% static "scripts/profile-script.js"%}"></script>
<script src="{% static "scripts/announcements-script.js"%}"></script>
</body>

</html>

