{% extends 'base.html' %}
{% block content %}


  <div class="m-4">

    {% if submissions %}


        <h3 class="mt-5 mb-4">Not graded</h3>

        {% for submission in submissions %}

            <p>Submitted</p>
            <div>
                <p>By: {{submission.user.username}}</p>
                <p>Submitted File is <a href={{submission.upload.url}}>here</a></p>

                <button data-toggle="modal" data-target="#grades{{submission.id}}" class="btn btn-primary mb-5">Add grades</button>

            </div>
            <p>Submitted at: {{submission.uploaded_at}}</p>

                <!-- Add Grades Modal -->
            <div class="modal fade" id="grades{{submission.id}}" tabindex="-1" aria-labelledby="grades{{submission.id}}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="grades{{submission.id}}title">Add grades to {{ submission.user.username }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form action={% url 'add-grades' %} method="post" enctype="multipart/form-data">{% csrf_token %}
                            <div class="form-group">
                                <label for="grades">Grades</label>
                                <input type="number" class="form-control" id="grades" name="grades" placeholder="Add grades" required>
                            </div>
                            <div class="form-group">
                                <label for="remark">Remark</label>
                                <input type="text" class="form-control" id="remark" name="remark" placeholder="Give remark if any">
                            </div>
                            <input type="hidden" value={{submission.id}} name="assignmentid" id="assignmentid">
                            <button type="submit" class="btn btn-primary">Grade</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                    </div>
                    </div>
                </div>
            </div>

            <hr />

        {% endfor %}


    {% else %}

            <h3>Looks Like nobody have submitted or you have graded everyone</h3>


    {% endif %}




  </div>


{% endblock content %}