<html>
    {% load static %}
   <head>
      <title>Paytm JS Checkout - Python</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <script type="application/javascript" crossorigin="anonymous" src="{{env}}/merchantpgpui/checkoutjs/merchants/{{mid}}.js"></script>
      <link rel="stylesheet" href="{% static "css/w3.css" %}" />
   </head>
   <body>

     <div class="w3-display-middle w3-padding text-center">
        <h2>Payment Successful !</h2>
       <div class=" bg-white rounded w3-padding w3-round-large w3-border ">
         <h4>For the course {{course.course_title}}</h4>
         <p>payment of ₹{{course.course_price}}</p>
         <a href="{% url "all_courses" %}" class="btn-area">
           <button name="submit" class="btn btn-primary">Back to Home</button>
         </a>
      </div>
    </div>
  </body>
</html>
