{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css" integrity="sha512-ZnR2wlLbSbr8/c9AgLg3jQPAattCUImNsae6NHYnS9KrIwRdcY9DxFotXhNAKIKbAXlRnujIqUWoXXwqyFOeIQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <div class="webpage">
        {% include 'messages.html' %}
        <section id="signup">
            <h1 class="signup-text">
                Create a free account
            </h1>
            <p>Hands-on practice modules, learning paths for industry skills, projects, community, and more.</p>
            <div class="signup-card">
                    <form
                    action="{% url 'register' %}"
                    method="POST"
                    class="needs-validation form-card"
                    novalidate
                >
                    {% csrf_token %}
                    <div class="signup-icons">
                        <a href="#"><i class="bi bi-google"></i></a>
                        <a href="#"><i class="bi bi-github"></i></a>
                    </div>
                    <div class="signup-txt-1">Or use email to signup</div>

                    <label>Username</label><br>
                    <input type="text" placeholder="Only allowed alphanumerical" name="username"><br>

                    <label>Email Address</label><br>
                    <input type="email" placeholder="Enter your email" name="email"><br>

                    <label>Password</label><br>
                    <input type="password" placeholder="Enter new password" name="password"><br>
                    <button type="submit">Submit Details</button><br>
                    <span class="signup-txt-2">Click submit details to proceed and verify your email</span>

                </form>
            </div>
        </section>
    </div>
</body>
</html>