{% extends 'base.html' %}
{% load custom_tags %}
{% block content %}


  <div class="m-4">
    <h3 class="mt-5 mb-4">students stats </h3>

    {% if my_topics %}



        {% for my_topic in my_topics %}

            <div>
                {% if my_topic.id|unit_status:document.id %}
                    <p>Completed</p>
                {% else %}
                    <p>Not Completed</p>
                {% endif %}
                <p>By: {{my_topic.user.username}}</p>
            </div>
            

            <hr />

        {% endfor %}


    {% else %}

            <h3>Nobody have completed this...</h3>


    {% endif %}




  </div>


{% endblock content %}