@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Work+Sans&display=swap');
*
{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Work Sans', sans-serif;
}
img
{
    object-fit: cover;
}
body
{
    background-color: white;
}
a
{
    text-decoration: none;
    color: white;
}
/* Side Panel */
.side-panel-container
{
    width: 210px;
    position: fixed;
    height: 100%;
    background-color: rgb(30, 30, 30);
    background-image: linear-gradient( 180.4deg,  rgba(188,120,236,1) -2.2%, rgba(29,133,163,1) 83.5% );
    box-shadow: rgba(48, 47, 47, 0.24) 12px 0px 120px;
    z-index: 2;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.side-panel-container::-webkit-scrollbar {
    width: 6px;
    background: transparent;
    scroll-behavior: smooth;
}
.side-panel-container::-webkit-scrollbar-thumb{
    background: rgba(207, 206, 206, 0.699);
    border-radius: 1px;
}
.side-panel-container::-webkit-scrollbar-thumb:hover{
    background: rgba(207, 206, 206, 0.842);
}
.side-panel
{
    padding: 10px;
}
.panel-item:not(.course-details), .detail, .panel-heading
{
    padding: 10px;
    display: flex;
    align-items: center;
}
.panel-heading
{
    cursor: pointer;
}
.panel-heading h3
{
    margin-right: 7px;
    color: white;
    font-size: 17px;
}
#arrow
{
    width: 20px;
    height: 20px;
}
.panel-item:not(.logo-item) img, .detail img
{
    width: 18px;
    height: 18px;
}
.name a
{
    font-size: 15px;
    margin-left: 10px;
    text-decoration: none;
    color: white;
}
.name a:hover
{
    font-size: 15px;
    color: #ffc824;
    transition: 0.4s;
}
.support button
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: none;
    padding: 6px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 50px;
    cursor: pointer;
    color: black;
    background-color: #ffc824;
}
.support button img
{
    margin-right: 5px;
}
.support button:hover
{
    background-color: #fabc04;
    font-size: 15px;
    transition: 0.5s;
}
/* logo */
.logo
{
    display: flex;
    align-items: center;
}
.logo-name
{
    letter-spacing: 1px;
    margin-left: 5px;
    color: white;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}
.logo-image
{
    width: 30px;
    height: 30px;
    margin-left: -3px;
}
.logo-item
{
    display: flex;
    justify-content: space-between;
}
#close
{
    width: 18px;
    height: 18px;
    display: none;
}
/* Navigation bar */
.navigation
{
    background-color: white;
}
.navigation .navi
{
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0px;
    right: 0px;
    box-shadow: rgba(65, 65, 65, 0.1) 0px 4px 12px;
}
.navi
{
    padding: 6px 20px;
}
.nav-logo
{
    display: flex;
    align-items: center;
}
#menu
{
    width: 26px;
    height: 26px;
}
.nav-logo-image
{
    width: 30px;
    height: 30px;
}
.nav-logo-text
{
    font-size: 22px;
    letter-spacing: 1px;
    font-family: 'Raleway', sans-serif;
    color: white;
}
.nav-logo-item
{
    padding: 2px;
}
.nav-rest
{
    display: flex;
    align-items: center;
}
.nav-item
{
    padding: 5px 0px;
}
.noti-icon
{
    width: 35px;
    height: 35px;
    cursor: pointer;
}
.image
{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-left: 20px;
    cursor: pointer;
}
/* Notifications */
.notification-list-container
{
    width: 320px;
    border: 1px solid rgb(218, 218, 218);
    background-color: white;
    border-radius: 5px;
    position: fixed;
    z-index: 3;
    right: 30px;
    top: 70px;
}
.notification-list
{
    padding: 20px;
}
.notifications
{
    margin-top: 15px;
}
.notification
{
    margin: 13px 0px;
    cursor: pointer;
    padding: 10px 10px;
    border: 1px solid transparent;
}
.notification:nth-child(1)
{
    background-color: rgb(247, 246, 246);
    border-radius: 5px;
}
.notification:hover
{
    border: 1px solid rgb(222, 220, 220);
    border-radius: 5px;
}
.notification-heading
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.noti-details
{
    display: flex;
    align-items: center;
}

.noti-detail p
{
    padding: 1px;
}
.det
{
    font-size: 15px;
}
.noti-detail
{
    margin-left: 10px;
}
.time
{
    color: grey;
    font-size: 14px;
}
.noti-image img
{
    width: 36px;
    height: 36px;
    border-radius: 100%;
}
.expand
{
    width: 18px;
    height: 18px;
}
.mark
{
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}
.noti-notdisplay
{
    display: none;
}
.noti-display
{
    display: block;
}
/* Profile */
.profile-container
{
    width: 220px;
    border: 1px solid rgb(218, 218, 218);
    position: fixed;
    z-index: 3;
    right: 20px;
    top: 70px;
    background-color: white;
    border-radius: 5px;
}
.profile
{
    padding: 10px;
}
.profile-item
{
    display: flex;
    align-items: center;
    padding: 10px;
}
.user-info
{
    border-bottom: 1px solid rgb(218, 218, 218);
    align-items: center;
}
.user-image img
{
    width: 42px;
    height: 42px;
    border-radius: 100%;
}
.settings img, .logout img
{
    width: 20px;
    height: 20px;
}
.settings p, .logout p
{
    margin-left: 5px;
}
.user-details
{
    margin-left: 10px;
}
.user-details p
{
    padding: 1px;
}
.user-fullname
{
    font-weight: bold;
}
.user-name
{
    color: grey;
    font-size: 14px;
}
.prof-notdisplay
{
    display: none;
}
.prof-display
{
    display: block;
}
/* media queries */
@media(max-width: 1024px)
{
    .side-panel-container
    {
        display: none;
    }

    #close
    {
        display: block;
    }
    .nav-logo-text
    {
        color: rgb(30, 30, 30);
    }
}
@media(min-width: 1024px)
{
    .side-panel-container
    {
        display: block !important;
    }
}
@media(max-width: 482px)
{
    .nav-logo-text
    {
        display: none;
    }
}