
.wrapper3{
    width: 100%;
    background-color: black;
    height: auto;
}

#cscards{
    width: 100%;
    height: auto;
    background-color:transparent;
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px;
}

#cscards .cscard-text{
    text-align: center;
    font-size: 2.5rem;
    color:white;
    margin-bottom: 20px;
}

.cscontainer{
    width: 100%;
    display: flex;
    overflow-x: scroll;
    gap: 40px;

}

::-webkit-scrollbar{
    display: none;
}

.cscard{
    padding: 20px;
    border:none;
    height: auto;
    border-radius: 5px;
    min-width: 700px;
    background-color:#043C7C;
}

.cscard-row{
    display: flex;
    justify-content: space-between;
}
.cscard-col-1{
    flex-basis: 50%;
}

.cscard-col-1 h1{
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;
}
.cscard-col-1 p{
    color: white;
    margin-bottom: 10px;
    font-size: 1rem;
}

.cscard-col-2{
    width: 300px;
    height: 300px;
}

.cscard-col-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media(min-width:370px){
    .cscard{
        min-width: 400px;
    }
    .cscard-row{
        flex-direction: column-reverse;
        gap: 30px;
    }
    .cscard-col-1{
        flex-basis: 100%;
    }
    .cscard-col-2{
        width: 100%;
    }
}

@media (min-width:820px){
    .cscard{
        min-width: 700px;
    }
    .cscard-row{
        flex-direction:row;
        gap: 30px;
    }
}




