@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins&display=swap');
*{
    font-family: Poppins;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#navbar{
    padding:0 20px;
    position: fixed;
    z-index: 9999999;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    transition: 0.3 all ease-in;
    background:#175cd3
}

body{
    position: relative;
}
#navbar .links{
    
    padding: 10px;
    padding-top: 50px;
}

#navbar .links a{
    text-decoration: none;
    display: block;
    font-size: 1.2rem;
    color: white;
    margin-bottom: 20px;
}

#navbar nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#navbar img{
    width: 200px;
    object-fit: cover;
}

#navbar #close{
    color: #5CABDC;
    background-color:transparent;
    border: none;
    font-size: 2rem;

}

.wrapper1{
    width: 100%;
    height:auto;
    background:linear-gradient(100deg,#175cd3,#1e1c49 50%,#171733 65%,#000);
}

header{
    max-width: 2000px;
    margin: 0 auto;
    position:sticky;
    top: 0;
    z-index: 99;    
    width: 100%;
    height: 60px;
    background:linear-gradient(100deg,#175cd3,#1e1c49 50%,#171733 65%,#000);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header img{
    width: 180px;
}

nav a{
    text-decoration: none;
    color: white;
    margin: 0 20px;
}
nav a:hover{
    color: rgb(255, 219, 40);
}

nav .btn-signup{
    padding: 10px 30px;
    background-color:white;
    border: none;
    border-radius: 5px;
    color: #6C6C73;
}

.hamburger{
    display: none;
    padding: 10px 15px;
    background-color:white;
    border: none;
    border-radius: 5px;
    color:gray;
}

@media (max-width:1120px) {
    .hamburger{
        display: block;
    }

    header nav{
        display: none;
    }
}



