.wrapper6{
    width: 100%;
    background-color: rgb(255, 219, 40);
    height: auto;
}

#testimonials{
    width: 100%;
    background-color: rgb(255, 219, 40);
    padding: 20px;
    height: auto;
    max-width: 2000px;
    margin: 0 auto;
}

#testimonials h1{
    font-size: 2rem;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.test-grid{
    gap: 20px;
    display: grid;
    overflow:scroll;
    grid-template-columns: repeat(3,1fr);
}
::-webkit-scrollbar{
    display: none;
}

.test-item{
    width: 100%;
    background-color:white;
    box-shadow: 0px 0px 1px 0px #252525;
    padding: 20px;
    border-radius: 5px;
}

.test-grid p{
    color: black;
    font-size: 1rem;
    margin-bottom: 10px;
}

.test-grid span{
    color: gray;
    font-size: 1.4rem;
}


@media (min-width:370px){
    .test-grid{
        grid-template-columns: repeat(5,500px);
    }
}

@media(min-width:1200px){
    .test-grid{
        grid-template-columns: repeat(3,1fr);
    }
}